<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="swiper-container H-width-100-percent H-height-100-percent" style="height: 160px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../../../image/banner.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
            <div class="swiper-slide">
                <img src="../../../image/banner.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
        </div>
        <div class="swiper-pagination" style="bottom:0!important;"></div>
    </div>
    <div class="H-n-grid H-border-vertical-top-after H-clear-both">
        <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box">
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color1 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-SSID H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">新闻通知</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color4 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-theme H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">热卖商品</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color2 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-bbs H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">房屋租售</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color5 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-com H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">二手交易</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color6 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-tearch H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">商家活动</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color7 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-camera H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">淘宝省钱</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color8 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-moban H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">办事指南</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-4 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active" style="min-height: 80px;">
                <div>
                    <span class="H-icon H-display-block H-horizontal-center H-theme-background-color9 H-theme-font-color-white H-border-radius-12" style="width: 45px; height: 45px;"><i class="H-iconfont H-icon-kefu H-font-size-24 H-vertical-middle"></i></span>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-999 H-margin-vertical-top-3">快递服务</label>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="H-n-grid H-clear-both">
        <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-border-vertical-top-after H-border-vertical-bottom-after H-padding-vertical-both-5 H-theme-background-color-white">
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-border-horizontal-right-after H-width-avg-2 H-border-vertical-bottom-after H-center-all H-theme-background-color-white" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color7">
                            话费充值
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            充值享98折优惠
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all  H-theme-background-color-white H-border-vertical-bottom-after" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color2">
                            打印复印
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            文件送货到家服务
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all H-theme-background-color-white H-border-horizontal-right-after" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color8">
                            家务交给我们
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            享受读书好时光
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all  H-theme-background-color-white" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color1">
                            敢拆开洗吗？
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            看看洗衣机有多脏
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
        <div class="H-channel-line H-theme-background-color1 H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
        <div class="H-channel-text H-theme-font-color1 H-flex-item H-font-size-18 H-theme-font-color-black H-padding-5 H-margin-horizontal-right-10 H-text-show-row-1">最新消息</div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="news-list">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-10"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block">一切从简，只为了更懒！</strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-10"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block">一切从简，只为了更懒！</strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-10"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block">一切从简，只为了更懒！</strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination'
        });
    </script>
</body>
</html>