<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body class="H-flexbox-vertical">
    <header class="H-header H-theme-background-color9" id="header">
        <span tapmode="" onclick="H.closeWin();" class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-white H-padding-horizontal-left-5 H-z-index-100"><i class="H-iconfont H-icon-arrow-left H-font-size-18 H-vertical-middle"></i><label class="H-display-block H-vertical-middle H-font-size-15">返回</label></span>
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">掌上生活圈子</div>
        <span class="H-icon H-position-relative H-display-block H-float-right H-vertical-middle H-theme-font-color-white H-padding-horizontal-both-5 H-z-index-1000"><i class="H-iconfont H-icon-setting H-font-size-18 H-vertical-middle"></i></span>
    </header>
    <div id="main" class="H-flex-item"></div>
    <footer class="H-footer H-flexbox-horizontal H-theme-background-color-white H-border-vertical-top-after" id="footer">
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active swipe-item H-theme-font-color9">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-ui H-font-size-24"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-top-3">主页</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-moban H-font-size-24"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-top-3">圈子</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-github H-font-size-24"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-top-3">跑腿</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center  H-theme-font-color-999 H-touch-active swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-care-user H-font-size-24"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-top-3">我的</strong>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        H.ready(function () {
            H.openFrameNavOrFoot("home1_body", "home1_body.html", "#header", null, "#footer", { bounces: false });
        });
    </script>
</body>
</html>