<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style>
    </style>
</head>
<body>
    <header class="H-header H-theme-background-color9" id="header">
        <div class="H-header-title H-flexbox-horizontal H-vertical-middle H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">
            <span class="H-icon H-position-relative H-display-block  H-theme-font-color-white H-padding-horizontal-left-5 H-z-index-100  H-display-none" style="line-height: 44px;"><label id="name-ad" class="H-display-inline-block H-font-size-15">中山</label><i class="H-iconfont H-icon-arrow-down H-font-size-14 H-display-inline-block H-margin-horizontal-left-5"></i></span>
            <div class="H-header-search H-flex-item H-margin-horizontal-both-10 H-padding-horizontal-both-10 H-position-relative H-theme-background-color9-active H-border-radius-15 H-line-height-normal">
                <span class="H-icon H-display-block H-position-absolute H-float-left H-z-index-10 H-vertical-middle" style="height: 100% !important;"><i class="H-iconfont H-icon-search H-font-size-16"></i></span>
                <input type="text" name="keyword" placeholder="请输入关键字..." id="H-header-search-text" class="H-width-100-percent H-box-sizing-border-box H-border-none H-padding-horizontal-both-10 H-font-size-14 H-padding-vertical-both-8 H-theme-background-color-transparent H-theme-font-color-white H-padding-horizontal-left-25 H-vertical-middle">
            </div>
        </div>
    </header>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        function hiddenAdrees() {
            H.D(".H-icon", ".H-header-title").style.cssText = 'display: none;';
        }
        function showAdrees() {
            H.D(".H-icon", ".H-header-title").style.cssText = 'display: block;line-height:44px';
        }
        H.ready(function () {
            H.openFrameNavOrFoot('dazhong_faxian_body', 'dazhong_faxian_body.html', '#header', null, null, {
                bounces: false
            });
        });
    </script>
</body>
</html>