<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style>
        .verticle-mode { writing-mode: tb-rl; -webkit-writing-mode: vertical-rl; writing-mode: vertical-rl; }
    </style>
</head>
<body class="H-width-100-percent H-height-100-percent">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="H-border-vertical-bottom-after H-padding-vertical-bottom-20 H-theme-background-color-white">
                    <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-top-15">
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color1 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-alipay H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">美食</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color2 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-doc H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">电影</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color4 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">酒店</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color5 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">休闲娱乐</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color6 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">外卖</label>
                        </div>
                    </div>
                    <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-top-15">
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color1 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-alipay H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">美食</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color2 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-doc H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">电影</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color4 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">酒店</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color5 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">休闲娱乐</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color6 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">外卖</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="H-border-vertical-bottom-after H-padding-vertical-bottom-20 H-theme-background-color-white">
                    <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-top-15">
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color1 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-alipay H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">美食</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color2 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-doc H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">电影</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color4 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">酒店</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color5 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">休闲娱乐</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color6 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">外卖</label>
                        </div>
                    </div>
                    <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-top-15">
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color1 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-alipay H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">美食</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color2 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-doc H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">电影</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color4 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">酒店</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color5 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">休闲娱乐</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color6 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">外卖</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="H-border-vertical-bottom-after H-padding-vertical-bottom-20 H-theme-background-color-white">
                    <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-top-15">
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color1 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-alipay H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">美食</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color2 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-doc H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">电影</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color4 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">酒店</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color5 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">休闲娱乐</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color6 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">外卖</label>
                        </div>
                    </div>
                    <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-top-15">
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color1 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-alipay H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">美食</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color2 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-doc H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">电影</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color4 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">酒店</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color5 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">休闲娱乐</label>
                        </div>
                        <div class="H-flex-item H-text-align-center H-line-height-normal H-touch-active" tapmode="">
                            <span class="H-width-40 H-height-40 H-center-all H-border-radius-circle H-theme-background-color6 H-margin-horizontal-auto">
                                <i class="H-iconfont H-icon-kefu H-font-size-24 H-theme-font-color-white"></i>
                            </span>
                            <label class="H-font-size-12 H-theme-font-color-666">外卖</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination" style="bottom:0;left:0;"></div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-theme-background-color2">
        <div class="H-position-relative">
            <div class="H-position-absolute"></div>
            <label class="H-theme-background-color2 H-font-size-16 H-font-weight-500 H-theme-font-color-white H-text-align-center H-display-block H-padding-vertical-both-5">新人专区</label>
        </div>
        <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-horizontal-both-5 H-padding-vertical-bottom-5">
            <div class="H-flex-item H-margin-horizontal-right-3 H-padding-horizontal-both-8 H-theme-background-color-white H-touch-active H-text-show-row-1" tapmode="">
                <label class="H-font-size-14 H-display-block H-text-align-center H-text-show-row-1 H-theme-font-color5 H-padding-vertical-both-5">9元畅吃畅玩</label>
                <span class="H-vertical-middle H-horizontal-center H-font-size-10 H-theme-font-color5 H-border-both H-theme-border-color5 H-padding-horizontal-both-5 H-border-radius-15 H-text-show-row-1">
                    春天敞开吃<i class="H-iconfont H-icon-arrow-right H-display-block H-font-size-10"></i>
                </span>
                <div class="H-padding-vertical-both-10 H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-display-block H-width-40 H-height-40" />
                </div>
            </div>
            <div class="H-flex-item H-margin-horizontal-right-3 H-padding-horizontal-both-8 H-theme-background-color-white H-touch-active H-text-show-row-1" tapmode="">
                <label class="H-font-size-14 H-display-block H-text-align-center H-text-show-row-1 H-theme-font-color6 H-padding-vertical-both-5">第一单免费</label>
                <span class="H-vertical-middle H-horizontal-center H-font-size-10 H-theme-font-color6 H-border-both H-theme-border-color6 H-padding-horizontal-both-5 H-border-radius-15 H-text-show-row-1">
                    新用户专享<i class="H-iconfont H-icon-arrow-right H-display-block H-font-size-10"></i>
                </span>
                <div class="H-padding-vertical-both-10 H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-display-block H-width-40 H-height-40" />
                </div>
            </div>
            <div class="H-flex-item H-padding-horizontal-both-8 H-theme-background-color-white H-touch-active H-text-show-row-1" tapmode="">
                <label class="H-font-size-14 H-display-block H-text-align-center H-text-show-row-1 H-theme-font-color2 H-padding-vertical-both-5">刮奖必中</label>
                <span class="H-vertical-middle H-horizontal-center H-font-size-10 H-theme-font-color2 H-border-both H-theme-border-color2 H-padding-horizontal-both-5 H-border-radius-15 H-text-show-row-1">
                    送手机大奖<i class="H-iconfont H-icon-arrow-right H-display-block H-font-size-10"></i>
                </span>
                <div class="H-padding-vertical-both-10 H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-display-block H-width-40 H-height-40" />
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-clear-both  H-overflow-auto">
        <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-vertical-middle H-padding-5 H-theme-background-color-white">
            <div class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-margin-horizontal-right-2" style="height: 110px;background: #f4f4f4;">
                <div class="H-width-100-percent H-padding-vertical-both-5 H-height-100-percent">
                    <strong class="H-display-block H-font-size-18 H-font-weight-500 H-text-show-row-1 H-text-align-center H-theme-font-color4">大牌抢购</strong>
                    <div class="H-font-size-10 H-theme-font-color-black H-vertical-middle H-horizontal-center H-margin-horizontal-both-5 H-theme-background-color-white H-overflow-hidden H-padding-vertical-both-5">
                        <span class="H-theme-font-color-666 verticle-mode H-display-block H-margin-horizontal-right-5">距开始</span>
                        <span class="H-theme-background-color-black H-theme-font-color-white H-padding-2">01</span>:
                        <span class="H-theme-background-color-black H-theme-font-color-white H-padding-2">29</span>:
                        <span class="H-theme-background-color-black H-theme-font-color-white H-padding-2">56</span>
                    </div>
                    <label class="H-font-size-15 H-display-block H-text-align-center H-padding-vertical-both-5">采蝶轩</label>
                </div>
            </div>
            <div class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-margin-horizontal-right-2" style="height: 110px;background: #f4f4f4;">
                <div class="H-width-100-percent H-padding-vertical-both-5">
                    <strong class="H-display-block H-font-size-18 H-font-weight-500 H-text-show-row-1 H-text-align-center H-theme-font-color4">买单立减</strong>
                    <label class="H-font-size-12 H-display-block H-text-align-center H-text-show-row-1 H-padding-vertical-both-5 H-theme-font-color-999">一元吃美食美食</label>
                    <div class="H-horizontal-center">
                        <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block" />
                    </div>
                </div>
            </div>
            <div class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all " style="height: 110px;background: #f4f4f4;">
                <div class="H-width-100-percent H-padding-vertical-both-5">
                    <strong class="H-display-block H-font-size-18 H-font-weight-500 H-text-show-row-1 H-text-align-center H-theme-font-color1">天天打卡</strong>
                    <label class="H-font-size-12 H-display-block H-text-align-center H-text-show-row-1 H-padding-vertical-both-5 H-theme-font-color-999">免费领红包</label>
                    <div class="H-horizontal-center">
                        <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-border-vertical-top-after H-theme-background-color-white">
        <div class="H-border-vertical-bottom-after H-flexbox-horizontal ">
            <div class="H-flex-item H-box-sizing-border-box H-border-horizontal-right-after H-padding-horizontal-both-5 H-padding-vertical-both-10 H-flexbox-horizontal H-center-all H-touch-active H-text-show-row-1" tapmode="">
                <div class="H-flex-item H-text-show-row-1 H-box-sizing-border-box H-padding-horizontal-right-5">
                    <strong class="H-display-block H-font-size-16 H-font-weight-600 H-text-show-row-1 H-text-align-center">
                        50元过节费
                    </strong>
                    <span class="H-display-block H-text-align-center H-text-show-row-1">
                        <label class="H-font-size-10 H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-font-color2 H-border-radius-15 H-display-inline-block H-border-both H-theme-border-color2 H-white-space-nowrap">3折吃大餐</label>
                    </span>
                </div>
                <div>
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" />
                </div>
            </div>
            <div class="H-flex-item H-box-sizing-border-box H-center-all H-flexbox-horizontal  H-padding-horizontal-both-5 H-padding-vertical-both-10 H-touch-active H-text-show-row-1" tapmode="">
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-display-block H-font-size-16 H-font-weight-600 H-text-show-row-1 H-text-align-center">
                        50元大福利
                    </strong>
                    <span class="H-display-block H-text-align-center">
                        <label class="H-font-size-10 H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-font-color1 H-border-radius-15 H-display-inline-block H-border-both H-theme-border-color1 H-white-space-nowrap">3折吃大餐</label>
                    </span>
                </div>
                <div>
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" />
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-flexbox-horizontal ">
            <div class="H-flex-item H-box-sizing-border-box H-border-horizontal-right-after H-padding-horizontal-both-5 H-padding-vertical-both-10 H-flexbox-horizontal H-center-all H-touch-active H-text-show-row-1" tapmode="">
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-display-block H-font-size-16 H-font-weight-600 H-text-show-row-1 H-text-align-center">
                        红包免费领
                    </strong>
                    <span class="H-display-block H-text-align-center H-text-show-row-1">
                        <label class="H-font-size-10 H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-font-color5 H-border-radius-15 H-display-inline-block H-border-both H-theme-border-color5 H-white-space-nowrap">放假拼命玩</label>
                    </span>
                </div>
                <div>
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" />
                </div>
            </div>
            <div class="H-flex-item H-box-sizing-border-box H-center-all H-flexbox-horizontal  H-padding-horizontal-both-5 H-padding-vertical-both-10 H-touch-active H-text-show-row-1" tapmode="">
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-display-block H-font-size-16 H-font-weight-600 H-text-show-row-1 H-text-align-center">
                        0元吃大餐
                    </strong>
                    <span class="H-display-block H-text-align-center H-text-show-row-1">
                        <label class="H-font-size-10 H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-font-color4 H-border-radius-15 H-display-inline-block H-border-both H-theme-border-color4 H-white-space-nowrap">全场免单</label>
                    </span>
                </div>
                <div>
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" />
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-flexbox-horizontal ">
            <div class="H-flex-item H-box-sizing-border-box H-border-horizontal-right-after H-padding-horizontal-both-5 H-padding-vertical-both-10 H-flexbox-horizontal H-center-all H-touch-active H-text-show-row-1" tapmode="">
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-display-block H-font-size-16 H-font-weight-600 H-text-show-row-1 H-text-align-center">
                        1元看电影
                    </strong>
                    <span class="H-display-block H-text-align-center H-text-show-row-1">
                        <label class="H-font-size-10 H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-font-color7 H-border-radius-15 H-display-inline-block H-border-both H-theme-border-color7 H-white-space-nowrap">送60元红包</label>
                    </span>
                </div>
                <div>
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" />
                </div>
            </div>
            <div class="H-flex-item H-box-sizing-border-box H-center-all H-flexbox-horizontal  H-padding-horizontal-both-5 H-padding-vertical-both-10 H-touch-active H-text-show-row-1" tapmode="">
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-display-block H-font-size-16 H-font-weight-600 H-text-show-row-1 H-text-align-center">
                        住店返168
                    </strong>
                    <span class="H-display-block H-text-align-center H-text-show-row-1">
                        <label class="H-font-size-10 H-box-sizing-border-box H-padding-horizontal-both-10 H-theme-font-color9 H-border-radius-15 H-display-inline-block H-border-both H-theme-border-color9 H-white-space-nowrap">五一小长假</label>
                    </span>
                </div>
                <div>
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" />
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-theme-background-color-white">
        <div class="H-flexbox-horizontal H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-13 H-font-weight-600 H-theme-font-color-666 H-padding-vertical-both-8 H-padding-horizontal-both-10">特色频道</div>
            <span class="H-font-size-12 H-theme-font-color-999 H-vertical-middle H-padding-horizontal-right-10">查看全部<i class="H-iconfont H-icon-arrow-right H-vertical-middle H-font-size-10"></i></span>
        </div>
        <div class="list H-flexbox-horizontal H-border-vertical-bottom-after">
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    周边游
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    赏花踏青
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    景点特惠
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    立减享不停
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    购物
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    母亲节福利
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    电影特惠
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    1元看大片
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
        </div>
        <div class="list H-flexbox-horizontal H-border-vertical-bottom-after">
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    周边游
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    赏花踏青
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    景点特惠
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    立减享不停
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    购物
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    母亲节福利
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
            <div class="list-item H-flex-item H-box-sizing-border-box H-padding-10 H-border-horizontal-right-after H-touch-active">
                <strong class="H-font-size-13 H-font-weight-500 H-display-block H-text-align-center H-text-show-row-1">
                    电影特惠
                </strong>
                <span class="H-display-block H-font-size-10 H-theme-font-color-999 H-display-block H-text-align-center H-text-show-row-1">
                    1元看大片
                </span>
                <div class="H-width-100-percent H-horizontal-center">
                    <img src="../../../image/logo.png" class="H-width-45 H-height-45 H-display-block H-border-radius-circle" />
                </div>
            </div>
        </div>
    </div>
    <div class="H-font-size-14 H-theme-font-color-999 H-padding-10">
        精彩享不停
    </div>
    <div class="H-border-vertical-both-after H-theme-background-color-white">
        <div class="H-flexbox-horizontal H-border-vertical-bottom-margin-left-10-after H-box-sizing-border-box H-padding-10 H-touch-active" tapmode="">
            <div>
                <img src="../../../image/logo.png" class="H-width-75 H-height-50 H-display-block H-border-radius-3" />
            </div>
            <div class="H-flex-item H-vertical-middle H-text-show-row-1">
                <div class="H-width-100-percent H-box-sizing-border-box H-padding-horizontal-both-10">
                    <strong class="H-font-weight-500 H-display-block H-text-show-row-1">点爱心超值外卖</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-1">领60元红包</label>
                </div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-border-vertical-bottom-margin-left-10-after H-box-sizing-border-box H-padding-10 H-touch-active" tapmode="">
            <div>
                <img src="../../../image/logo.png" class="H-width-75 H-height-50 H-display-block H-border-radius-3" />
            </div>
            <div class="H-flex-item H-vertical-middle H-text-show-row-1">
                <div class="H-width-100-percent H-box-sizing-border-box H-padding-horizontal-both-10 ">
                    <strong class="H-font-weight-500 H-display-block H-text-show-row-1">51领红包&nbsp;畅游全国(测试有没有超出，有没有超出)</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-1">门票9元起，下单还返现(测试有没有超出，有没有超出)</label>
                </div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-border-vertical-bottom-margin-left-10-after H-box-sizing-border-box H-padding-10 H-touch-active" tapmode="">
            <div>
                <img src="../../../image/logo.png" class="H-width-75 H-height-50 H-display-block H-border-radius-3" />
            </div>
            <div class="H-flex-item H-vertical-middle H-text-show-row-1">
                <div class="H-width-100-percent H-box-sizing-border-box H-padding-horizontal-both-10">
                    <strong class="H-font-weight-500 H-display-block H-text-show-row-1">50元现金券福利</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-1">给剁手党的红包</label>
                </div>
            </div>
        </div>
    </div>
    <div class="H-font-size-14 H-theme-font-color-999 H-padding-10">
        猜你喜欢
    </div>
    <div class="business-list H-border-vertical-top-after H-theme-background-color-white">
        <div class="business-list-item H-flexbox-horizontal H-box-sizing-border-box H-padding-10 H-border-vertical-bottom-margin-left-10-after H-touch-active" tapmode="">
            <div class="H-position-relative H-vertical-middle">
                <span class="H-position-absolute H-vertical-middle " style="left:0;top:10px;">
                    <label class="H-theme-background-color1 H-font-size-12 H-theme-font-color-white H-display-block H-padding-horizontal-left-8">免预约</label>
                    <label class="H-bugle-right H-theme-border-color1 H-display-block" style="border-width:9px;"></label>
                </span>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" alt="" title="" />
            </div>
            <div class="H-flex-item H-vertical-middle H-padding-horizontal-left-10 H-text-show-row-1">
                <div class="H-width-100-percent">
                    <div class="H-flexbox-horizontal">
                        <div class="H-flex-item H-font-weight-500 H-text-show-row-1">
                            丰源轩
                        </div>
                        <span class="H-vertical-middle">
                            <label class="H-font-size-10 H-theme-font-color-999 H-display-block">100m</label>
                        </span>
                    </div>
                    <span class="H-display-block H-width-100-percent H-font-size-12 H-theme-font-color-999 H-text-show-row-2">
                        [12店通用]低至8.8折&nbsp;代金券1张&nbsp;除酒水、香烟外全场通用，可进行叠加使用
                    </span>
                    <div class="H-flexbox-horizontal">
                        <div class="H-flex-item H-text-show-row-1">
                            <div class="H-flexbox-horizontal">
                                <strong class="cash H-font-size-16 H-font-weight-500 H-theme-font-color4">￥88</strong>
                                <span class="H-margin-horizontal-both-8 H-vertical-middle H-flex-item H-text-show-row-1">
                                    <label class="H-font-size-10 H-theme-font-color4 H-line-height-normal H-padding-horizontal-both-5 H-border-both H-box-sizing-border-box H-theme-border-color4 H-display-block H-width-100-percent H-text-show-row-1 H-border-radius-3">美食新用户立减18元dsdsdsdsdsd</label>
                                </span>
                            </div>
                        </div>
                        <label class="H-font-size-10 H-theme-font-color-999 H-vertical-middle">已售232</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-list-item H-flexbox-horizontal H-box-sizing-border-box H-padding-10 H-border-vertical-bottom-margin-left-10-after H-touch-active" tapmode="">
            <div class="H-position-relative H-vertical-middle">
                <span class="H-position-absolute H-vertical-middle " style="left:0;top:10px;">
                    <label class="H-theme-background-color1 H-font-size-12 H-theme-font-color-white H-display-block H-padding-horizontal-left-8">免预约</label>
                    <label class="H-bugle-right H-theme-border-color1 H-display-block" style="border-width:9px;"></label>
                </span>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" alt="" title="" />
            </div>
            <div class="H-flex-item H-vertical-middle H-padding-horizontal-left-10 H-text-show-row-1">
                <div class="H-width-100-percent">
                    <div class="H-flexbox-horizontal">
                        <div class="H-flex-item H-font-weight-500 H-text-show-row-1">
                            赢友网络科技有限公司
                        </div>
                        <span class="H-vertical-middle">
                            <label class="H-font-size-10 H-theme-font-color-999 H-display-block">100m</label>
                        </span>
                    </div>
                    <span class="H-display-block H-width-100-percent H-font-size-12 H-theme-font-color-999 H-text-show-row-2">
                        中山市石岐区中山二路怡中大厦515室
                    </span>
                    <div class="H-flexbox-horizontal">
                        <div class="H-flex-item H-text-show-row-1">
                            <div class="H-flexbox-horizontal">
                                <strong class="cash H-font-size-16 H-font-weight-500 H-theme-font-color4">￥88</strong>
                                <span class="H-margin-horizontal-both-8 H-vertical-middle H-flex-item H-text-show-row-1">
                                    <label class="H-font-size-10 H-theme-font-color4 H-line-height-normal H-padding-horizontal-both-5 H-border-both H-box-sizing-border-box H-theme-border-color4 H-display-block H-width-100-percent H-text-show-row-1 H-border-radius-3">美食新用户立减18元dsdsdsdsdsd</label>
                                </span>
                            </div>
                        </div>
                        <label class="H-font-size-10 H-theme-font-color-999 H-vertical-middle">已售232</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-list-item H-flexbox-horizontal H-box-sizing-border-box H-padding-10 H-border-vertical-bottom-margin-left-10-after H-touch-active" tapmode="">
            <div class="H-position-relative H-vertical-middle">
                <span class="H-position-absolute H-vertical-middle " style="left:0;top:10px;">
                    <label class="H-theme-background-color1 H-font-size-12 H-theme-font-color-white H-display-block H-padding-horizontal-left-8">免预约</label>
                    <label class="H-bugle-right H-theme-border-color1 H-display-block" style="border-width:9px;"></label>
                </span>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" alt="" title="" />
            </div>
            <div class="H-flex-item H-vertical-middle H-padding-horizontal-left-10 H-text-show-row-1">
                <div class="H-width-100-percent">
                    <div class="H-flexbox-horizontal">
                        <div class="H-flex-item H-font-weight-500 H-text-show-row-1">
                            Hui官方技术支持
                        </div>
                        <span class="H-vertical-middle">
                            <label class="H-font-size-10 H-theme-font-color-999 H-display-block">100m</label>
                        </span>
                    </div>
                    <span class="H-display-block H-width-100-percent H-font-size-12 H-theme-font-color-999 H-text-show-row-2">
                        [12店通用]低至8.8折&nbsp;代金券1张&nbsp;除酒水、香烟外全场通用，可进行叠加使用
                    </span>
                    <div class="H-flexbox-horizontal">
                        <div class="H-flex-item H-text-show-row-1">
                            <div class="H-flexbox-horizontal">
                                <strong class="cash H-font-size-16 H-font-weight-500 H-theme-font-color4">￥88</strong>
                                <span class="H-margin-horizontal-both-8 H-vertical-middle H-flex-item H-text-show-row-1">
                                    <label class="H-font-size-10 H-theme-font-color4 H-line-height-normal H-padding-horizontal-both-5 H-border-both H-box-sizing-border-box H-theme-border-color4 H-display-block H-width-100-percent H-text-show-row-1 H-border-radius-3">美食新用户立减18元dsdsdsdsdsd</label>
                                </span>
                            </div>
                        </div>
                        <label class="H-font-size-10 H-theme-font-color-999 H-vertical-middle">已售232</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
        H.ready(function () {
        });
    </script>
</body>
</html>