<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>tuangou</title>
    <link rel="stylesheet" type="text/css" href="../../../plugins/swiper/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style>
    </style>
</head>
<body>
    <div class="H-theme-background-color-white ">
        <div class="H-border-vertical-bottom-after H-flexbox-horizontal">
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-border-horizontal-right-after H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-dengpao H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>美食</span>
            </div>
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-border-horizontal-right-after H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-shopping-cart H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>购物</span>
            </div>
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-tag H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>KTV</span>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-flexbox-horizontal">
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-border-horizontal-right-after H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-dengpao H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>美食</span>
            </div>
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-border-horizontal-right-after H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-shopping-cart H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>购物</span>
            </div>
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-tag H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>KTV</span>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-flexbox-horizontal">
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-border-horizontal-right-after H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-dengpao H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>美食</span>
            </div>
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-border-horizontal-right-after H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-shopping-cart H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>购物</span>
            </div>
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-box-sizing-border-box H-touch-active">
                <span class="H-font-size-14 H-theme-font-color-999 H-center-all"><i class="H-iconfont H-display-block H-icon-tag H-theme-font-color7 H-font-size-20 H-padding-horizontal-right-5"></i>KTV</span>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-box-sizing-border-box">
        <div class="H-flexbox-horizontal H-padding-horizontal-both-10 H-theme-background-color-white H-touch-active">
            <div class="H-flex-item H-text-show-row-1 H-padding-vertical-both-10 H-font-size-20 H-font-weight-bold H-theme-font-color7">
                天天立减
            </div>
            <span class="H-vertical-middle H-theme-font-color-ccc">
                <label class="H-font-size-13">更多立减</label>
                <label class="H-font-size-13 H-iconfont H-icon-arrow-right"></label>
            </span>
        </div>
        <div class="H-theme-background-color-white H-padding-horizontal-left-5 H-padding-vertical-bottom-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                团购套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥66.6</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">优惠6.6</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                单人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥118</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减19</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                私人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥168.8</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减0.8</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                私人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥168.8</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减0.8</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                私人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥168.8</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减0.8</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                私人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥168.8</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减0.8</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                私人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥168.8</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减0.8</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="H-padding-horizontal-both-5 H-padding-vertical-both-5 H-text-show-row-1 H-width-100-percent H-box-sizing-border-box" style="background: #f7f7f7;">
                            <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" />
                            <div class="H-font-size-14 H-text-show-row-1 H-width-100-percent H-overflow-hidden">
                                Hui教程从秃头到生根
                            </div>
                            <div class="H-font-size-12 H-text-show-row-1 H-theme-font-color-999 H-max-width-100-percent">
                                私人套餐
                            </div>
                            <div class="H-theme-font-color7 H-font-size-12 H-text-show-row-1 H-vertical-middle">
                                <span>￥168.8</span>
                                <span class="H-display-block H-border-both H-font-size-10 H-theme-border-color7 H-border-radius-3 H-padding-horizontal-both-3 H-line-height-normal H-margin-horizontal-left-5 H-text-show-row-1 H-max-width-100-percent">再减0.8</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-theme-background-color-white H-box-sizing-border-box H-padding-horizontal-left-10 H-padding-vertical-bottom-10">
        <div class="H-flexbox-horizontal H-box-sizing-border-box H-touch-active">
            <div class="H-flex-item H-font-size-14 H-vertical-middle">
                <div class="H-padding-vertical-both-10 H-text-show-row-1 H-box-sizing-border-box H-padding-horizontal-right-10">
                    超值特惠
                </div>
                <span class="H-vertical-middle H-line-height-normal H-font-size-10 H-theme-background-color7 H-theme-font-color-white H-border-radius-3 H-padding-horizontal-both-3">1元新体验</span>
            </div>
            <span class="H-vertical-middle H-padding-horizontal-right-10"><i class="H-iconfont H-icon-arrow-right H-font-size-14 H-font-weight-bold H-theme-font-color-666"></i></span>
        </div>
        <div class="H-display-table H-width-100-percent H-clear-both H-box-sizing-border-box H-padding-horizontal-right-5">
            <div class="H-display-table-cell H-width-avg-3 H-float-left H-box-sizing-border-box H-padding-horizontal-right-5">
                <img src="../../../image/logo.png" class="H-display-block H-width-100-percent" />
                <div class="H-text-show-row-1 H-padding-horizontal-both-5 H-font-size-14">四季可可热带豆现正热卖</div>
                <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥1</span>
                <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥118</span>
            </div>
            <div class="H-display-table-cell H-width-avg-3 H-float-left H-box-sizing-border-box H-padding-horizontal-right-5">
                <img src="../../../image/logo.png" class="H-display-block H-width-100-percent" />
                <div class="H-text-show-row-1 H-padding-horizontal-both-5 H-font-size-14">四季可可热带豆现正热卖</div>
                <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥1</span>
                <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥118</span>
            </div>
            <div class="H-display-table-cell H-width-avg-3 H-float-left H-box-sizing-border-box H-padding-horizontal-right-5">
                <img src="../../../image/logo.png" class="H-display-block H-width-100-percent" />
                <div class="H-text-show-row-1 H-padding-horizontal-both-5 H-font-size-14">四季可可热带豆现正热卖</div>
                <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥1</span>
                <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥118</span>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-theme-background-color-white ">
        <div class="H-box-sizing-border-box H-padding-horizontal-both-10 H-padding-vertical-both-10 H-font-weight-500 H-border-vertical-bottom-after">为你精选</div>
        <div class="H-border-vertical-bottom-after H-box-sizing-border-box H-padding-10 H-flexbox-horizontal">
            <div>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" />
            </div>
            <div class="H-flex-item H-padding-horizontal-left-10 H-vertical-middle">
                <div class="H-text-show-row-1 H-width-100-percent">
                    <strong class="H-font-weight-600 H-display-block H-text-show-row-1">夏威夷海鲜自助餐</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-2">[天悦城]海鲜自助餐晚餐，提供免费WiFi</label>
                    <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥118</span>
                    <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥158</span>
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-box-sizing-border-box H-padding-10 H-flexbox-horizontal">
            <div>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" />
            </div>
            <div class="H-flex-item H-padding-horizontal-left-10 H-vertical-middle H-text-show-row-1">
                <div class="H-text-show-row-1 H-max-width-100-percent">
                    <strong class="H-font-weight-600 H-display-block H-text-show-row-1">夏威夷海鲜自助餐借口借口</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-2">单人套餐，提供免费WiFi</label>
                    <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥118</span>
                    <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥158</span>
                    <span class="H-display-inline-block H-line-height-normal H-font-size-10 H-theme-border-color7 H-theme-font-color7 H-border-radius-3 H-padding-horizontal-both-3">新用户免费领</span>
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-box-sizing-border-box H-padding-10 H-flexbox-horizontal">
            <div>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" />
            </div>
            <div class="H-flex-item H-padding-horizontal-left-10 H-vertical-middle">
                <div class="H-text-show-row-1 H-width-100-percent">
                    <strong class="H-font-weight-600 H-display-block H-text-show-row-1">夏威夷海鲜自助餐</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-2">[天悦城]海鲜自助餐晚餐，提供免费WiFi</label>
                    <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥118</span>
                    <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥158</span>
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-box-sizing-border-box H-padding-10 H-flexbox-horizontal">
            <div>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" />
            </div>
            <div class="H-flex-item H-padding-horizontal-left-10 H-vertical-middle">
                <div class="H-text-show-row-1 H-width-100-percent">
                    <strong class="H-font-weight-600 H-display-block H-text-show-row-1">夏威夷海鲜自助餐</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-2">[天悦城]海鲜自助餐晚餐，提供免费WiFi</label>
                    <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥118</span>
                    <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥158</span>
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-box-sizing-border-box H-padding-10 H-flexbox-horizontal">
            <div>
                <img src="../../../image/logo.png" class="H-width-100 H-height-75 H-display-block" />
            </div>
            <div class="H-flex-item H-padding-horizontal-left-10 H-vertical-middle">
                <div class="H-text-show-row-1 H-width-100-percent">
                    <strong class="H-font-weight-600 H-display-block H-text-show-row-1">夏威夷海鲜自助餐</strong>
                    <label class="H-font-size-12 H-theme-font-color-999 H-display-block H-text-show-row-2">[天悦城]海鲜自助餐晚餐，提供免费WiFi</label>
                    <span class="H-font-size-14 H-theme-font-color7 H-padding-horizontal-both-5">￥118</span>
                    <span class="H-font-size-10 H-theme-font-color-999" style="text-decoration: line-through;">￥158</span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        var swiper3 = new Swiper('.swiper-container', {
            slidesPerView: 2.3,
            spaceBetween: 5,
            freeMode: true
        });
    </script>
</body>
</html>