<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
        .H-width-avg-7 { width: 66.6667%; }
        .H-theme-background-color-blue1 { background-color: #2C89D7; }
        .H-theme-background-color-blue2 { background-color: #359DF5; }
    </style>
</head>
<body class="H-flexbox-vertical">
    <header class="H-header H-theme-background-color1" id="header">
        <span tapmode="" onclick="H.closeWin();" class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-white H-padding-horizontal-left-5 H-z-index-100"><i class="H-iconfont H-icon-arrow-left H-font-size-18 H-vertical-middle"></i><label class="H-display-block H-vertical-middle H-font-size-15">返回</label></span>
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">详情</div>
    </header>
    <div class="H-main H-flex-item"></div>
    <footer class="H-footer H-flexbox-horizontal H-theme-background-color-white H-border-vertical-top-after" id="footer">
        <div class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-7   H-theme-background-color-blue2">
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-padding-vertical-both-10 H-touch-active">
                <div>
                    <i class="H-iconfont H-icon-star-null  H-horizontal-center H-vertical-middle H-theme-font-color-white"></i>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-white H-margin-vertical-top-3">关注</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-padding-vertical-both-10 H-touch-active">
                <div>
                    <i class="H-iconfont H-icon-share  H-horizontal-center H-vertical-middle H-theme-font-color-white"></i>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-white H-margin-vertical-top-3">分享</label>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-padding-vertical-both-10 H-touch-active">
                <div>
                    <i class="H-iconfont H-icon-about-me  H-horizontal-center H-vertical-middle H-theme-font-color-white"></i>
                    <label class="H-display-block H-font-size-12 H-theme-font-color-white H-margin-vertical-top-3">咨询</label>
                </div>
            </div>
        </div>
        <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-theme-background-color-blue1 H-padding-vertical-both-10 H-touch-active">
            <div>
                <label class="H-display-block H-font-size-18 H-theme-font-color-white H-margin-vertical-top-3">我要支持<i class="H-iconfont H-icon-nice H-margin-horizontal-left-5"></i></label>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        H.ready(function () {
            H.openFrameNavOrFoot("zc_details_body", "zc_details_body.html", "#header", null, "#footer", { bounces: false });
        });
    </script>
</body>
</html>