<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
        .red { color: #f23030; font-weight: bold; }
        .redbg { background-color: #f23030; }
        .H-theme-border-color4 { border: 1px solid #f23030; }
        .zpbg { background-color: #fff7f9; }
        .H-theme-font-color11 { color: #369DF5; }
        .H-theme-font-color12 { color: #9B9B9B; }
        .H-theme-font-color13 { color: #ffffff; }
    </style>
</head>
<body class="H-theme-background-color-white">
    <div class="swiper-container H-width-100-percent H-height-100-percent" style="height: 300px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
            <div class="swiper-slide">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
            <div class="swiper-slide">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div tapmode="" class="zpbg H-flexbox-horizontal H-theme-font-color-666 H-box-sizing-border-box H-padding-horizontal-both-10 H-padding-vertical-both-8 H-font-size-12 ">
        <span class="H-flex-item H-center-all  H-theme-font-color8 ">狂撒一亿：全场首单送10元（不含抽奖/无私奉献档）</span>
    </div>
    <div class="H-flexbox-horizontal">
        <div id="title" class="H-flex-item H-text-align-left H-font-size-16 H-margin-vertical-both-3 H-padding-horizontal-both-10">
            雷神K7金属炫彩机械键盘
        </div>
    </div>
    <div class="H-margin-vertical-top-5 H-flexbox-horizontal H-font-size-12 H-theme-font-color-666">
        <div class="H-margin-horizontal-left-10  H-margin-vertical-both-5 H-margin-horizontal-right-3">
            <span class="H-font-size-12 H-theme-font-color-999 H-font-weight-normal H-margin-horizontal-left-4">雷神科技再次挑战业内工艺极限，重磅上市全新金属机身机械键盘</span>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-margin-vertical-top-10 H-flexbox-horizontal H-font-size-12 H-theme-font-color-666">
        <div class="H-progress H-theme-background-color-eee H-width-100-percent H-border-radius-5 H-line-height-0 H-overflow-hidden" style="height:18px">
            <div class="H-height-100-percent H-theme-background-color1 H-border-radius-3" style="width: 50%; ">
                <span class="H-center-all H-font-size-10 H-badge H-display-block H-padding-vertical-both-8 H-font-size-16 H-theme-font-color13">50%</span>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box ">
        <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active">
            <div>
                <span class="H-display-block  H-center-all H-font-size-13 H-theme-font-color-999 H-margin-vertical-top-3">支持人数</span>
                <label class="H-display-block  H-center-all H-font-size-18 H-theme-font-color-666 H-margin-vertical-top-3">10789人</label>
            </div>
        </div>
        <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active">
            <div>
                <span class="H-display-block  H-center-all H-font-size-13 H-theme-font-color-999 H-margin-vertical-top-3">已筹金额</span>
                <label class="H-display-block  H-center-all H-font-size-18 H-theme-font-color-666 H-margin-vertical-top-3">911，056元</label>
            </div>
        </div>
        <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-3 H-center-all H-theme-background-color-white H-padding-vertical-both-10 H-touch-active">
            <div>
                <span class="H-display-block  H-center-all H-font-size-13 H-theme-font-color-999 H-margin-vertical-top-3">剩余时间</span>
                <label class="H-display-block  H-center-all H-font-size-18 H-theme-font-color-666 H-margin-vertical-top-3">18天</label>
            </div>
        </div>
        <div class="H-padding-vertical-bottom-10"></div>
        <div class="H-text-list H-flexbox-horizontal H-theme-background-color-white H-border-vertical-top-after H-vertical-middle H-touch-active">
            <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-theme-font-color11 H-padding-vertical-both-12">
                ￥1.00<i class="H-iconfont H-icon-about-me H-font-size-16 H-theme-font-color12 H-margin-horizontal-left-5" onclick="H.openFrame('zc_reward_body', 'zc_reward_body.html', null, {bounces:false});"></i>
            </div>
            <span class="H-badge H-display-block H-font-size-16 H-theme-font-color12">1元抽奖得</span>
            <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
        </div>
        <div class="H-text-list H-flexbox-horizontal H-theme-background-color-white H-border-vertical-top-after H-vertical-middle H-touch-active">
            <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-theme-font-color11 H-padding-vertical-both-12">
                ￥5.00<i class="H-iconfont H-icon-about-me H-font-size-16 H-theme-font-color12 H-margin-horizontal-left-5" onclick="H.openFrame('zc_reward_body', 'zc_reward_body.html', null, {bounces:false});"></i>
            </div>
            <span class="H-badge H-display-block H-font-size-16 H-theme-font-color12">推荐档，快速支持</span>
            <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
        </div>
        <div class="H-padding-vertical-bottom-5" style="background-color: #efeff4"></div>
        <div class="H-font-size-14 H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white" id="tag">
                <div tapmode="" onclick="swipeIndex(1);" class="H-flex-item H-center-all H-theme-font-color-666 H-padding-vertical-both-10 H-theme-border-color-white  H-font-size-16" style="border-width: 0 0 2px  0">
                    大家说
                </div>
                <div tapmode="" onclick="swipeIndex(0);" class="H-flex-item H-center-all H-theme-font-color-666 H-padding-vertical-both-10 H-theme-border-color-white  H-font-size-16 H-theme-border-color-52ace5 H-theme-font-color-52ace5 H-theme-border-color1 H-theme-font-color1" style="border-width: 0 0 2px  0">
                    详情
                </div>
                <div tapmode="" onclick="swipeIndex(2);" class="H-flex-item H-center-all H-theme-font-color-666 H-padding-vertical-both-10 H-theme-border-color-white  H-font-size-16" style="border-width: 0 0 2px  0">
                    支持他
                </div>
            </div>
        </div>
        <div class="H-padding-10 H-font-size-14">
            雷神科技一直致力于为玩家提供更好游戏体验。经过历时近1年的用户调研产品开发，2016年，雷神科技全力推出雷神第一款全金属机身炫彩机械键盘。
            <img src="../../../image/templates-imgs/baojie.png" class="H-width-100-percent ">
        </div>
    </div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 0,
            loop: true
        });

    </script>
</body>
</html>