<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../plugins/swiper/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
        body { background-color: #EFEFEF; }
        .swiper-container { width: 100%; height: 100px; }
        .swiper-slide { width: 100px; height: 100px; }
        .swiper-pagination { bottom: 0 !important; }
        .H-height-20 { height: 20px; }
        .H-width-20 { width: 20px; }
        .zpbg { background-color: #F8F8F8; }
        .H-theme-font-color-777 { color: #A9A9A9; }
        .H-theme-font-color12 { color: #C5C5C5; }
        .H-theme-font-color13 { color: #5C5C5C; }
    </style>
</head>
<body>
    <div class="list">
        <div class="bbs-item">
            <div class="H-flexbox-horizontal H-theme-background-color-white">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="swiper-container" style="height:110px;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                </div>
            </div>
            <div class="H-flexbox-vertical H-vertical-middle H-font-size-12 H-padding-horizontal-both-10 H-padding-vertical-both-8 H-theme-background-color-white">
                <div class="H-flex-item H-text-align-left">
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                </div>
                <div class="H-flex-item H-text-align-right H-font-weight-bold H-font-size-12 H-theme-font-color-777">
                    已获<span class="H-theme-font-color13 ">305</span>次支持
                </div>
            </div>
            <div class="zpbg H-flexbox-horizontal H-theme-font-color-777 H-box-sizing-border-box H-padding-vertical-both-5 H-font-size-12 ">
                <span class="H-flex-item H-center-all H-margin-horizontal-left "><i class="H-iconfont H-icon-star-fill H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>目标<span class="H-theme-font-color13 ">1</span>万元</span>
                <span class="H-flex-item H-center-all"><i class="H-iconfont H-icon-fee H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>已筹<span class="H-theme-font-color13 ">18703</span>元</span>
                <span class="H-flex-item H-center-all H-margin-horizontal-right"><i class="H-iconfont H-icon-tag H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>进度<span class="H-theme-font-color13 ">187.0</span>%</span>
            </div>
        </div>
        <div class="H-padding-vertical-both-5"></div>
        <div class="bbs-item">
            <div class="H-flexbox-horizontal H-theme-background-color-white">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="swiper-container" style="height:110px;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                </div>
            </div>
            <div class="H-flexbox-vertical H-vertical-middle H-font-size-12 H-padding-horizontal-both-10 H-padding-vertical-both-8 H-theme-background-color-white">
                <div class="H-flex-item H-text-align-left">
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                </div>
                <div class="H-flex-item H-text-align-right H-font-weight-bold H-font-size-12 H-theme-font-color-777">
                    已获<span class="H-theme-font-color13 ">305</span>次支持
                </div>
            </div>
            <div class="zpbg H-flexbox-horizontal H-theme-font-color-777 H-box-sizing-border-box H-padding-vertical-both-5 H-font-size-12 ">
                <span class="H-flex-item H-center-all H-margin-horizontal-left "><i class="H-iconfont H-icon-star-fill H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>目标<span class="H-theme-font-color13 ">1</span>万元</span>
                <span class="H-flex-item H-center-all"><i class="H-iconfont H-icon-fee H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>已筹<span class="H-theme-font-color13 ">18703</span>元</span>
                <span class="H-flex-item H-center-all H-margin-horizontal-right"><i class="H-iconfont H-icon-tag H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>进度<span class="H-theme-font-color13 ">187.0</span>%</span>
            </div>
        </div>
        <div class="H-padding-vertical-both-5"></div>
        <div class="bbs-item">
            <div class="H-flexbox-horizontal H-theme-background-color-white">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="swiper-container" style="height:110px;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                </div>
            </div>
            <div class="H-flexbox-vertical H-vertical-middle H-font-size-12 H-padding-horizontal-both-10 H-padding-vertical-both-8 H-theme-background-color-white">
                <div class="H-flex-item H-text-align-left">
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                    <span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block"><img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-border-radius-circle H-width-20 H-height-20" /></span>
                </div>
                <div class="H-flex-item H-text-align-right H-font-weight-bold H-font-size-12 H-theme-font-color-777">
                    已获<span class="H-theme-font-color13 ">305</span>次支持
                </div>
            </div>
            <div class="zpbg H-flexbox-horizontal H-theme-font-color-777 H-box-sizing-border-box H-padding-vertical-both-5 H-font-size-12 ">
                <span class="H-flex-item H-center-all H-margin-horizontal-left "><i class="H-iconfont H-icon-star-fill H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>目标<span class="H-theme-font-color13 ">1</span>万元</span>
                <span class="H-flex-item H-center-all"><i class="H-iconfont H-icon-fee H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>已筹<span class="H-theme-font-color13 ">18703</span>元</span>
                <span class="H-flex-item H-center-all H-margin-horizontal-right"><i class="H-iconfont H-icon-tag H-font-size-12 H-theme-font-color12 H-margin-horizontal-right-5"></i>进度<span class="H-theme-font-color13 ">187.0</span>%</span>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 10,
            freeMode: true
        });
        function OpenBbs(id) {
            H.openWin('zc_details_head', 'zc_details_head.html', {
                'id': id
            });
        }
    </script>
</body>
</html>