<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
        .H-margin-horizontal-left-55 { margin-left: 55px; }
        .H-theme-background-color10 { background-color: #cccccc; }
    </style>
</head>
<body id="body">
    <div id="list" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5">
        <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white ">
            <div class="H-padding-vertical-both-8">
                <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
            </div>
            <div class="H-flex-item H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color-333">为为支持了<span class="H-theme-font-color7">58</span>元</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times"><i class="H-iconfont H-icon-msg H-font-size-18"></i></span>
                </div>
                <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                    广东省中山市中山二路48好怡中大厦5楼515
                </div>
            </div>
        </div>
        <div class="H-font-size-14 H-padding-10 H-flexbox-vertical H-margin-horizontal-left-55">
            <div class="H-theme-font-color-333">
                <span class="H-float-left">支持</span>
            </div>
        </div>
    </div>

    <div id="list" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5">
        <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white ">
            <div class="H-padding-vertical-both-8">
                <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
            </div>
            <div class="H-flex-item H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color-333">为为支持了<span class="H-theme-font-color7">58</span>元</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times"><i class="H-iconfont H-icon-msg H-font-size-18"></i></span>
                </div>
                <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                    广东省中山市中山二路48好怡中大厦5楼515
                </div>
            </div>
        </div>
        <div class="H-font-size-14 H-padding-10 H-flexbox-vertical H-margin-horizontal-left-55">
            <div class="H-theme-font-color-333">
                <span class="H-float-left">支持</span>
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-theme-background-color10 ">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1 H-margin-horizontal-left-10 H-margin-vertical-top-5">为为：</span>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1  H-margin-vertical-bottom-5 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    2016-1-1 10:12:12
                </div>
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1 H-margin-horizontal-left-10 H-margin-vertical-top-5">为为：</span>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-bottom-5 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
    </div>


    <div id="list" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5">
        <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white ">
            <div class="H-padding-vertical-both-8">
                <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
            </div>
            <div class="H-flex-item H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color-333">为为支持了<span class="H-theme-font-color7">58</span>元</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times"><i class="H-iconfont H-icon-msg H-font-size-18"></i></span>
                </div>
                <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                    广东省中山市中山二路48好怡中大厦5楼515
                </div>
            </div>
        </div>
        <div class="H-font-size-14 H-padding-10 H-flexbox-vertical H-margin-horizontal-left-55">
            <div class="H-theme-font-color-333">
                <span class="H-float-left">支持</span>
            </div>
        </div>
    </div>



    <div id="list1" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5">
        <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white">
            <div class="H-padding-vertical-both-8">
                <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
            </div>
            <div class="H-flex-item H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color-333">为为支持了<span class="H-theme-font-color7">58</span>元</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times"><i class="H-iconfont H-icon-msg H-font-size-18"></i></span>
                </div>
                <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                    广东省中山市中山二路48好怡中大厦5楼515
                </div>
            </div>
        </div>
        <div class="H-font-size-14 H-padding-10 H-flexbox-vertical H-margin-horizontal-left-55">
            <div class="H-theme-font-color-333">
                <span class="H-float-left">支持</span>
            </div>
        </div>
    </div>


    <div id="list" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5">
        <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white ">
            <div class="H-padding-vertical-both-8">
                <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
            </div>
            <div class="H-flex-item H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color-333">为为支持了<span class="H-theme-font-color7">58</span>元</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times"><i class="H-iconfont H-icon-msg H-font-size-18"></i></span>
                </div>
                <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                    广东省中山市中山二路48好怡中大厦5楼515
                </div>
            </div>
        </div>
        <div class="H-font-size-14 H-padding-10 H-flexbox-vertical H-margin-horizontal-left-55">
            <div class="H-theme-font-color-333">
                <span class="H-float-left">支持</span>
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-theme-background-color10 ">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1 H-margin-horizontal-left-10 H-margin-vertical-top-5">为为：</span>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1  H-margin-vertical-bottom-5 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    2016-1-1 10:12:12
                </div>
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1 H-margin-horizontal-left-10 H-margin-vertical-top-5">为为：</span>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-bottom-5 H-font-size-12 H-margin-horizontal-left-10" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../../script/H.js"></script>
</body>
</html>