<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="H-timeline H-padding-horizontal-both-10 H-border-horizontal-right-after">
        <div class="H-timeline-item H-z-index-100 H-theme-background-color-white H-margin-vertical-top-15 H-border-both-after H-animate-scale-big">
            <div class="H-timeline-dotline H-position-absolute H-z-index-1000">
                <div class="H-timeline-dot H-position-absolute H-z-index-1000 H-border-radius-circle"></div>
                <div class="H-timeline-line H-position-absolute H-z-index-1000"></div>
                <div class="H-timeline-bigdot H-center-all H-border-radius-circle H-position-absolute H-z-index-100000 H-theme-background-color-white">
                    <div class="H-timeline-bigdot-child H-border-radius-circle"></div>
                </div>
                <div class="H-timeline-dot H-position-absolute H-z-index-1000 H-border-radius-circle"></div>
            </div>
            <div class="bbs-item H-margin-vertical-both-5">
                <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                    <div class="H-padding-vertical-both-8">
                        <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                    </div>
                    <div class="H-flex-item H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14">新生帝<span class="H-theme-font-color1 H-margin-horizontal-left-10">发布更新</span></span>
                        </div>
                        <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                            6小时前
                        </div>
                    </div>
                </div>
                <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                    一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。
                </div>
                <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                    </div>
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                    </div>
                </div>
            </div>
            <div class="H-text-align-right H-padding-vertical-both-5 H-padding-horizontal-right-10 H-theme-background-color-white H-font-size-12 H-theme-font-color-999">
                <i class="H-iconfont H-icon-msg H-theme-font-color-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-margin-horizontal-right-8 H-padding-horizontal-left-2 H-display-inline-block">3</span>
                <i class="H-iconfont H-icon-nice H-theme-font-color-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-margin-horizontal-right-8 H-padding-horizontal-left-2 H-display-inline-block">13</span>
                <i class="H-iconfont H-icon-like H-theme-font-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block">6</span>
            </div>
            <div class="H-timeline-footer H-line-height-normal H-padding-10 H-font-size-14">
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="H-timeline-item H-z-index-100 H-theme-background-color-white H-margin-vertical-top-15 H-border-both-after H-animate-scale-big">
            <div class="H-timeline-dotline H-position-absolute H-z-index-1000">
                <div class="H-timeline-dot H-position-absolute H-z-index-1000 H-border-radius-circle"></div>
                <div class="H-timeline-line H-position-absolute H-z-index-1000"></div>
                <div class="H-timeline-bigdot H-center-all H-border-radius-circle H-position-absolute H-z-index-100000 H-theme-background-color-white">
                    <div class="H-timeline-bigdot-child H-border-radius-circle"></div>
                </div>
                <div class="H-timeline-dot H-position-absolute H-z-index-1000 H-border-radius-circle"></div>
            </div>
            <div class="bbs-item H-margin-vertical-both-5">
                <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                    <div class="H-padding-vertical-both-8">
                        <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                    </div>
                    <div class="H-flex-item H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14">新生帝<span class="H-theme-font-color1 H-margin-horizontal-left-10">发布更新</span></span>
                        </div>
                        <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                            6小时前
                        </div>
                    </div>
                </div>
                <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                    一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。
                </div>
                <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                    </div>
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                    </div>
                </div>
            </div>
            <div class="H-text-align-right H-padding-vertical-both-5 H-padding-horizontal-right-10 H-theme-background-color-white H-font-size-12 H-theme-font-color-999">
                <i class="H-iconfont H-icon-msg H-theme-font-color-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-margin-horizontal-right-8 H-padding-horizontal-left-2 H-display-inline-block">3</span>
                <i class="H-iconfont H-icon-nice H-theme-font-color-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-margin-horizontal-right-8 H-padding-horizontal-left-2 H-display-inline-block">13</span>
                <i class="H-iconfont H-icon-like H-theme-font-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block">6</span>
            </div>
            <div class="H-timeline-footer H-line-height-normal H-padding-10 H-font-size-14">
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="H-timeline-item H-z-index-100 H-theme-background-color-white H-margin-vertical-top-15 H-border-both-after H-animate-scale-big">
            <div class="H-timeline-dotline H-position-absolute H-z-index-1000">
                <div class="H-timeline-dot H-position-absolute H-z-index-1000 H-border-radius-circle"></div>
                <div class="H-timeline-line H-position-absolute H-z-index-1000"></div>
                <div class="H-timeline-bigdot H-center-all H-border-radius-circle H-position-absolute H-z-index-100000 H-theme-background-color-white">
                    <div class="H-timeline-bigdot-child H-border-radius-circle"></div>
                </div>
                <div class="H-timeline-dot H-position-absolute H-z-index-1000 H-border-radius-circle"></div>
            </div>
            <div class="bbs-item H-margin-vertical-both-5">
                <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                    <div class="H-padding-vertical-both-8">
                        <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                    </div>
                    <div class="H-flex-item H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14">新生帝<span class="H-theme-font-color1 H-margin-horizontal-left-10">发布更新</span></span>
                        </div>
                        <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                            6小时前
                        </div>
                    </div>
                </div>
                <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                    一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。
                </div>
                <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                    </div>
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                    </div>
                    <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10">
                        <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                    </div>
                </div>
            </div>
            <div class="H-text-align-right H-padding-vertical-both-5 H-padding-horizontal-right-10 H-theme-background-color-white H-font-size-12 H-theme-font-color-999">
                <i class="H-iconfont H-icon-msg H-theme-font-color-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-margin-horizontal-right-8 H-padding-horizontal-left-2 H-display-inline-block">3</span>
                <i class="H-iconfont H-icon-nice H-theme-font-color-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-margin-horizontal-right-8 H-padding-horizontal-left-2 H-display-inline-block">13</span>
                <i class="H-iconfont H-icon-like H-theme-font-ccc H-font-size-14"></i><span class="H-theme-font-color-666 H-padding-horizontal-left-2 H-display-inline-block">6</span>
            </div>
            <div class="H-timeline-footer H-line-height-normal H-padding-10 H-font-size-14">
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
                <div class="H-flexbox-horizontal">
                    <div class="H-padding-vertical-both-8">
                        <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
                    </div>
                    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                        <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal">
                            <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">为为</span>
                        </div>
                        <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                            回复内容回复内容回复内容回复内容回复内容
                        </div>
                        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                            2016-1-1 10:12:12
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <script src="../../../script/H.js" type="text/javascript"></script>
</body>
</html>