<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/Hui.css" />
    <style type="text/css">
        .border-bottom-3px { border-bottom: 3px solid #FC8B4A !important; }
        .border-bottom-1px { border-bottom: 1px solid #ddd; }
        .H-border-vertical-bottom-after { border-bottom: 1px solid #fff; }
    </style>
</head>
<body>
    <div>
        <div class="H-theme-background-color-eee border-bottom-1px H-theme-font-color4-active H-padding-vertical-both-8"><strong class="border-bottom-3px H-padding-vertical-bottom-10 H-padding-horizontal-both-25 H-font-size-18">推荐</strong></div>
        <div>
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-padding-vertical-both-10 H-touch-active H-border-vertical-bottom-after">
                <div class="H-flex-item H-padding-horizontal-left-15">
                    <strong class="H-display-block H-font-size-15 H-line-height-normal">家常菜</strong>
                    <font class="H-theme-font-color-999 H-font-size-12 H-vertical-middle">1153.3万人订阅</font>
                </div>
                <label class="H-padding-horizontal-right-10">
                    <span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-right H-theme-font-color4-active H-font-size-14 H-vertical-middle"></i></span>
                    <font class="H-theme-font-color4-active H-font-size-14">已订</font>
                </label>
            </div>
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-padding-vertical-both-10 H-touch-active H-border-vertical-bottom-after">
                <div class="H-flex-item H-padding-horizontal-left-15">
                    <strong class="H-display-block H-font-size-15 H-line-height-normal">家常菜</strong>
                    <font class="H-theme-font-color-999 H-font-size-12 H-vertical-middle">1153.3万人订阅</font>
                </div>
                <label class="H-padding-horizontal-right-10">
                    <span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-right H-theme-font-color4-active H-font-size-14 H-vertical-middle"></i></span>
                    <font class="H-theme-font-color4-active H-font-size-14">已订</font>
                </label>
            </div>
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-padding-vertical-both-10 H-touch-active H-border-vertical-bottom-after">
                <div class="H-flex-item H-padding-horizontal-left-15">
                    <strong class="H-display-block H-font-size-15 H-line-height-normal">川菜</strong>
                    <font class="H-theme-font-color-999 H-font-size-12 H-vertical-middle">1153.3万人订阅</font>
                </div>
                <label class="H-padding-horizontal-right-10">
                    <span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-plus H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
                    <font class="H-font-size-14">订阅</font>
                </label>
            </div>
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-padding-vertical-both-10 H-touch-active H-border-vertical-bottom-after">
                <div class="H-flex-item H-padding-horizontal-left-15">
                    <strong class="H-display-block H-font-size-15 H-line-height-normal">家常菜</strong>
                    <font class="H-theme-font-color-999 H-font-size-12 H-vertical-middle">1153.3万人订阅</font>
                </div>
                <label class="H-padding-horizontal-right-10">
                    <span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-right H-theme-font-color4-active H-font-size-14 H-vertical-middle"></i></span>
                    <font class="H-theme-font-color4-active H-font-size-14">已订</font>
                </label>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="../../../../script/H.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>