<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body class="H-flexbox-vertical">
    <header class="H-header H-theme-background-color9" id="home_header">
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">
            <label class="H-padding-horizontal-right-5">小红书</label>
            <span class="H-icon"><i class="H-iconfont H-icon-arrow-down H-font-size-11 H-vertical-middle"></i></span>
        </div>
        <span class="H-icon H-position-relative H-display-inline-block H-float-right H-vertical-middle H-theme-font-color-white H-padding-horizontal-right-15 H-z-index-100">
            <i class="H-iconfont H-icon-camera H-font-size-20 H-vertical-middle"></i>
        </span>
    </header>
    <header class="H-header H-theme-background-color-green H-display-none" id="find_header">
        <div class="H-header-title H-flexbox-horizontal H-vertical-middle H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">
            <div class="H-header-search H-flex-item H-margin-horizontal-both-15 H-padding-horizontal-both-10 H-position-relative H-theme-background-color-ccc H-border-radius-5">
                <span class="H-icon H-display-block H-position-absolute H-float-left H-z-index-10"><i class="H-iconfont H-icon-search H-theme-font-color-black H-vertical-align-middle"></i></span>
                <input type="text" name="keyword" placeholder="请输入关键字..." id="H-header-search-text" class="H-width-100-percent H-box-sizing-border-box H-border-none H-padding-horizontal-both-10 H-font-size-14 H-padding-vertical-both-5 H-theme-background-color-transparent H-theme-font-color-black H-padding-horizontal-left-25" />
            </div>
            <span class="H-icon H-position-relative H-display-inline-block H-vertical-middle H-theme-font-color-white H-padding-horizontal-right-15 H-z-index-100"><i class="H-iconfont H-icon-add-user H-font-size-20 H-vertical-middle"></i></span>
        </div>
    </header>
    <header class="H-header H-theme-background-color-green H-display-none" id="fulishe_header">
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent H-font-weight-bold">
            <label>福利社</label>
        </div>
        <span class="H-icon H-position-relative H-display-inline-block H-float-right H-vertical-middle H-theme-font-color-white H-padding-horizontal-right-15 H-z-index-100">
            <i class="H-iconfont H-icon-delegate H-font-size-20 H-vertical-middle"></i>
        </span>
    </header>
    <header class="H-header H-theme-background-color-white H-display-none H-border-vertical-bottom-after" id="news_header">
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-black H-position-absolute H-width-100-percent">消息</div>
    </header>
    <header class="H-header H-theme-background-color-white H-border-vertical-bottom-after H-display-none" id="user_header">
        <span class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-green H-padding-horizontal-left-15 H-z-index-100"><i class="H-iconfont H-icon-add-user H-vertical-middle H-font-size-20"></i></span>
        <div class="H-header-title H-center-all H-font-size-20 H-text-show-row-1 H-position-absolute H-width-100-percent H-font-weight-bold">
            <label class="H-theme-font-color-black">User</label>
            <span class="H-icon H-padding-horizontal-left-5 H-theme-font-color-999"><i class="H-iconfont H-icon-arrow-down H-font-size-11 H-vertical-middle"></i></span>
        </div>
        <span class="H-icon H-position-relative H-display-inline-block H-float-right H-vertical-middle H-theme-font-color-999 H-padding-horizontal-right-15 H-z-index-100">
            <i class="H-iconfont H-icon-setting H-font-size-20 H-vertical-middle"></i>
        </span>
    </header>
    <div class="H-main H-flex-item"></div>
    <footer class="H-footer H-flexbox-horizontal H-theme-background-color-white H-margin-vertical-top-10 H-footer-half" id="footer">
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active  H-theme-font-color9 swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-ui H-font-size-26"></i></span>
                <strong class="H-font-size-11 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">首页</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-finding H-font-size-26"></i></span>
                <strong class="H-font-size-11 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">发现</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center  swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal H-center-all H-theme-background-color9 H-border-radius-circle" style="height:40px;width:40px;"><i class="H-iconfont H-icon-add H-font-size-26 H-theme-font-color-white"></i></span>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center  H-theme-font-color-999 H-touch-active swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-answer H-font-size-26"></i></span>
                <strong class="H-font-size-11 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">消息</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center  H-theme-font-color-999 H-touch-active swipe-item">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-official H-font-size-26"></i></span>
                <strong class="H-font-size-11 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">我</strong>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        H.ready(function () {
            H.openFrameNavOrFoot("xiaohongshu_body", "xiaohongshu_body.html", "#home_header", null, "#footer", { bounces: false });
        });
    </script>
</body>
</html>