<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
        .red { color: #f23030; font-weight: bold; }
        .redbg { background-color: #f23030; }
        .H-theme-border-color4 { border: 1px solid #f23030; }
        .zpbg { background-color: #fff7f9; }
    </style>
</head>
<body class="H-theme-background-color-white">
    <div class="swiper-container H-width-100-percent H-height-100-percent" style="height: 300px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../../../image/templates-imgs/tb2.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
            <div class="swiper-slide">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
            <div class="swiper-slide">
                <img src="../../../image/templates-imgs/tb2.jpg" class="H-width-100-percent H-height-100-percent" />
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="H-flexbox-horizontal">
        <div id="title" class="H-flex-item H-text-align-left H-font-size-16 H-margin-vertical-both-3 H-padding-horizontal-both-10">
            儿童网鞋男童女童休闲鞋网布鞋透气板鞋2016夏新款学步鞋<span class="H-font-size-12 H-theme-font-color-white H-padding-horizontal-both-2 H-border-radius-3 H-margin-horizontal-left-3 redbg">特价</span>
        </div>
        <div tapmode="" class="H-border-horizontal-left-margin-both-10-after H-padding-horizontal-both-10  H-margin-vertical-top-5 H-flexbox-vertical H-text-align-center H-font-size-10 H-theme-font-color-666" onclick="H.openFrame('share_body', 'share_body.html', null, {bounces:false});">
            <span><i class="H-iconfont H-icon-share"></i></span>
            <span>分享</span>
        </div>
    </div>
    <div class="H-padding-horizontal-both-10 H-flexbox-horizontal H-box-sizing-border-box H-vertical-middle H-line-height-0">
        <div class="H-flex-item H-text-align-left H-font-size-12 red">
            ￥<span class="H-font-size-22" id="pricecou">198.00</span><span class="H-font-size-12 H-theme-font-color-999 H-font-weight-normal H-margin-horizontal-left-5" style="text-decoration:line-through">￥298.00</span>
        </div>
        <div class="H-flex-item H-text-align-right">
            <button class="H-font-size-15 H-outline-none H-padding-horizontal-both-10 H-padding-vertical-both-15  H-theme-font-color-white  H-theme-font-color-white H-theme-border-color4 H-border-radius-3 redbg">
                立即购买
            </button>
        </div>
    </div>
    <div class="H-margin-vertical-top-5 H-border-vertical-top-after H-flexbox-horizontal H-font-size-12 H-theme-font-color-666">
        <div class="H-margin-horizontal-left-10  H-margin-vertical-both-5 H-margin-horizontal-right-3">
            备注：
        </div>
        <div class="H-flex-item H-margin-vertical-both-5 H-theme-font-color-333 H-padding-horizontal-right-10">
            本款鞋码偏大，妈妈们尽量按脚长+0.3CM选，不要再加码哦。默认发中通快递。
        </div>
    </div>
    <div tapmode="" class="zpbg H-flexbox-horizontal H-theme-font-color-666 H-box-sizing-border-box H-padding-horizontal-both-10 H-padding-vertical-both-8 H-font-size-12 " onclick="H.openFrame('zhengpin_body', 'zhengpin_body.html', null, {bounces:false});">
        <div class="H-flex-item">
            <span class="H-margin-horizontal-right-10 "><i class="H-iconfont H-icon-right H-font-size-12 H-theme-font-color7 H-margin-horizontal-right-5"></i>正品保证</span>
            <span class="H-margin-horizontal-right-10"><i class="H-iconfont H-icon-right H-font-size-12 H-theme-font-color7 H-margin-horizontal-right-5"></i>急速退款</span>
            <span class="H-margin-horizontal-right-10"><i class="H-iconfont H-icon-right H-font-size-12 H-theme-font-color7 H-margin-horizontal-right-5"></i>七天退货</span>
        </div>
        <i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color7"></i>
    </div>
    <div class="H-padding-vertical-bottom-5" style="background-color: #efeff4"></div>
    <div class="H-font-size-14 H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
        <div class="H-channel-line H-theme-background-color7 H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
        <div class="H-channel-text H-theme-font-color7 H-flex-item H-font-size-18 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
            商品介绍
        </div>
    </div>
    <div class="H-padding-10 H-font-size-14">
        <img src="../../../image/templates-imgs/tb3.jpg" class="H-width-100-percent" />
        本款鞋码偏大，妈妈们尽量按(脚长=内长)选，不要再加码哦。默认发中通快递。这款宝宝鞋是中性风，随意百搭。糖果色十分抢眼。鞋面采用高质量网布，网面是吸汗透气的，橡胶鞋底柔软舒适，可以弯曲。鞋面套脚，能随着孩子脚背自如伸缩，大脚肉肉脚的孩子都能驾驭（可选大半码）。
    </div>
    <div class="H-padding-vertical-bottom-5" style="background-color: #efeff4"></div>
    <div class="H-flexbox-horizontal H-theme-font-color-666 H-box-sizing-border-box H-padding-horizontal-both-10 H-padding-vertical-both-10 H-font-size-12  H-border-vertical-bottom-margin-left-10-after ">
        <div class="H-flex-item H-text-align-left">
            评价（17）
        </div>
        <div class="H-flex-item H-theme-font-color-333 H-text-align-right">
            好评度<span class=" H-theme-font-color7 H-margin-horizontal-both-5">88%</span><i class="H-iconfont H-icon-arrow-right H-font-size-12"></i>
        </div>
    </div>
    <div id="replaylist">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after">
            <div class="H-padding-vertical-both-8">
                <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">忽悠我</span>
                    <div class="H-line-height-0 H-margin-vertical-top-3"><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star-half H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star-null H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i></div>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after">
            <div class="H-padding-vertical-both-8">
                <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">忽悠我</span>
                    <div class="H-line-height-0 H-margin-vertical-top-3"><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star-half H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star-null H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i></div>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after">
            <div class="H-padding-vertical-both-8">
                <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">忽悠我</span>
                    <div class="H-line-height-0 H-margin-vertical-top-3"><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star-half H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i><i class="H-iconfont H-icon-star-null H-font-size-10 H-theme-font-color-red H-margin-horizontal-right-2"></i></div>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
    </div>
    <div class="H-background-white H-padding10">
        <p class=" H-font-size-12 H-theme-font-color-999 H-text-align-center" id="noreplay">
            沙发空余，快来抢占
        </p>
        <div class="H-padding-vertical-bottom-10"></div>
    </div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 0,
            loop: true
        });
    </script>
</body>
</html>