<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body id="body">
    <div tapmode="" onclick="OpenGoods(1);" class="H-line-height-0">
        <img src="../../../image/templates-imgs/fz1.jpg" class="H-width-100-percent ">
    </div>
    <div class="H-flexbox-vertical H-vertical-middle H-font-size-12 H-padding-horizontal-both-10 H-padding-vertical-both-8 H-theme-background-color-white">
        <div class="H-flex-item H-text-align-left">
            <span class="H-theme-background-color2 H-theme-font-color-white H-padding-horizontal-both-5 H-padding-vertical-both-3 H-border-radius-3">满199减20</span>
        </div>
        <div class="H-flex-item H-text-align-right H-font-weight-bold H-font-size-12 H-theme-font-color-666">
            <span class="H-theme-font-color7 ">434</span>件已售<span class="H-theme-font-color7 H-margin-horizontal-left-8">仅剩10小时</span>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-line-height-0">
        <img src="../../../image/templates-imgs/fz2.jpg" class="H-width-100-percent ">
    </div>
    <div class="H-flexbox-vertical H-vertical-middle H-font-size-12 H-padding-horizontal-both-10 H-padding-vertical-both-8 H-theme-background-color-white">
        <div class="H-flex-item H-text-align-left">
            <span class="H-theme-background-color2 H-theme-font-color-white H-padding-horizontal-both-5 H-padding-vertical-both-3 H-border-radius-3">满199减20</span>
        </div>
        <div class="H-flex-item H-text-align-right H-font-weight-bold H-font-size-12 H-theme-font-color-666">
            <span class="H-theme-font-color7 ">434</span>件已售<span class="H-theme-font-color7 H-margin-horizontal-left-8">仅剩10小时</span>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="H-channel-title H-flexbox-horizontal H-theme-background-color-white H-vertical-middle H-border-vertical-bottom-after">
        <div class="H-channel-line H-theme-background-color7 H-padding-vertical-top-15 H-padding-horizontal-left-3  H-margin-horizontal-left-10"></div>
        <div class="H-channel-text H-theme-font-color7 H-flex-item H-font-size-18 H-theme-font-color-black H-padding-10 H-margin-horizontal-right-10 H-text-show-row-1">
            热销商品推荐
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class=" H-font-size-14 H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-5">
        <div tapmode="" onclick="OpenGoods(1);" class=" H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-margin-vertical-bottom-5">
            <div class="H-theme-background-color-white H-margin-horizontal-right-5">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-display-block" alt="" title="" />
                <div class="H-padding-horizontal-both-3 H-text-show-row-2 H-padding-vertical-top-5">
                    韩版纯棉小孩衣服儿童短袖套装韩版纯棉小孩衣服儿童短袖套装纯棉小孩衣服儿童短袖套装
                </div>
                <div class="H-padding-horizontal-both-3 H-flex-item H-theme-font-color7 H-text-align-left H-vertical-middle">
                    ￥<span class="H-font-size-22 H-margin-horizontal-right-5">25.80</span><span class="H-theme-font-color-999 " style="text-decoration:line-through">原价：28.8</span>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="OpenGoods(1);" class=" H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-margin-vertical-bottom-5">
            <div class="H-theme-background-color-white H-margin-horizontal-right-5">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-display-block" alt="" title="" />
                <div class="H-padding-horizontal-both-3 H-text-show-row-2 H-padding-vertical-top-5">
                    <span class="H-font-size-12 H-theme-font-color-white H-padding-horizontal-both-2 H-border-radius-3 H-margin-horizontal-right-3 H-theme-background-color4">抽免单</span>韩版纯棉小孩衣服儿童短袖套装韩版纯棉小孩衣服儿童短袖套装纯棉小孩衣服儿童短袖套装
                </div>
                <div class="H-padding-horizontal-both-3 H-flex-item H-theme-font-color7 H-text-align-left H-vertical-middle">
                    ￥<span class="H-font-size-22 H-margin-horizontal-right-5">25.80</span><span class="H-theme-font-color-999 " style="text-decoration:line-through">原价：28.8</span>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="OpenGoods(1);" class=" H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-margin-vertical-bottom-5">
            <div class="H-theme-background-color-white H-margin-horizontal-right-5">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-display-block" alt="" title="" />
                <div class="H-padding-horizontal-both-3 H-text-show-row-2 H-padding-vertical-top-5">
                    韩版纯棉小孩衣服儿童短袖套装韩版纯棉小孩衣服儿童短袖套装纯棉小孩衣服儿童短袖套装
                </div>
                <div class="H-padding-horizontal-both-3 H-flex-item H-theme-font-color7 H-text-align-left H-vertical-middle">
                    ￥<span class="H-font-size-22 H-margin-horizontal-right-5">25.80</span><span class="H-theme-font-color-999 " style="text-decoration:line-through">原价：28.8</span>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="OpenGoods(1);" class=" H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-margin-vertical-bottom-5">
            <div class="H-theme-background-color-white H-margin-horizontal-right-5">
                <img src="../../../image/templates-imgs/tb1.jpg" class="H-width-100-percent H-display-block" alt="" title="" />
                <div class="H-padding-horizontal-both-3 H-text-show-row-2 H-padding-vertical-top-5">
                    韩版纯棉小孩衣服儿童短袖套装韩版纯棉小孩衣服儿童短袖套装纯棉小孩衣服儿童短袖套装
                </div>
                <div class="H-padding-horizontal-both-3 H-flex-item H-theme-font-color7 H-text-align-left H-vertical-middle">
                    ￥<span class="H-font-size-22 H-margin-horizontal-right-5">25.80</span><span class="H-theme-font-color-999 " style="text-decoration:line-through">原价：28.8</span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        function OpenGoods(id) {
            H.openWin('info_head', 'info_head.html', {
                'id': id
            });
        }
    </script>
</body>
</html>