<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body>
    <div class="swiper-container H-width-100-percent H-padding-vertical-bottom-10 H-theme-background-color-white">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                </div>
                <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                </div>
                <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                </div>
                <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-both-10">
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                    <div class="H-flex-item">
                        <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-circle H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
                        <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination" style="bottom: 0;"></div>
    </div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-vertical-middle H-margin-vertical-top-8">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-20 H-padding-vertical-both-5 H-theme-font-color-red">名店抢购</div>
        <div class="H-margin-3 H-padding-2 H-border-radius-3  H-border-both H-vertical-middle"><span class="H-display-block H-font-size-14 H-theme-font-color-666 H-padding-horizontal-both-5 H-border-horizontal-right-after H-vertical-middle H-line-height-normal">距离结束</span><span class="H-display-block H-font-size-14 H-padding-horizontal-both-5 H-vertical-middle H-line-height-normal">08:30:40</span></div>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div class="H-theme-background-color-white H-padding-vertical-both-10">
        <div class="H-flexbox-horizontal">
            <div class="H-flex-item H-padding-10 H-text-align-center H-border-horizontal-right-after">
                <img src="../../../image/logo.png" class="H-display-block H-width-100-percent H-height-90" />
                <div class="H-padding-vertical-top-5 H-font-size-16 H-font-weight-500">
                    商品名称
                </div>
                <div class="H-vertical-middle H-position-relative">
                    <span class="H-font-size-18 H-theme-font-color5">￥98</span><span class="H-display-inline-block H-position-absolute H-vertical-middle H-horizontal-right-0 H-vertical-top-0" style="-webkit-transform: scale(0.8);"><label class="H-display-inline-block H-bugle-left H-theme-border-color1 H-position-relative H-vertical-top-5" style="border-width:9px"></label><label class="H-display-inline-block H-padding-horizontal-both-5 H-theme-background-color1 H-font-size-12 H-theme-font-color-white">再减20</label></span>
                </div>
            </div>
            <div class="H-flex-item H-padding-10 H-text-align-center H-border-horizontal-right-after">
                <img src="../../../image/logo.png" class="H-display-block H-width-100-percent H-height-90" />
                <div class="H-padding-vertical-top-5 H-font-size-16 H-font-weight-500">
                    商品名称
                </div>
                <div class="H-vertical-middle H-position-relative">
                    <span class="H-font-size-18 H-theme-font-color5">￥98</span><span class="H-display-inline-block H-position-absolute H-vertical-middle H-horizontal-right-0 H-vertical-top-0" style="-webkit-transform: scale(0.8);"><label class="H-display-inline-block H-bugle-left H-theme-border-color1 H-position-relative H-vertical-top-5" style="border-width:9px"></label><label class="H-display-inline-block H-padding-horizontal-both-5 H-theme-background-color1 H-font-size-12 H-theme-font-color-white">再减20</label></span>
                </div>
            </div>
            <div class="H-flex-item H-padding-10 H-text-align-center">
                <img src="../../../image/logo.png" class="H-display-block H-width-100-percent H-height-90" />
                <div class="H-padding-vertical-top-5 H-font-size-16 H-font-weight-500">
                    商品名称
                </div>
                <div class="H-vertical-middle H-position-relative">
                    <span class="H-font-size-18 H-theme-font-color5">￥98</span><span class="H-display-inline-block H-position-absolute H-vertical-middle H-horizontal-right-0 H-vertical-top-0" style="-webkit-transform: scale(0.8);"><label class="H-display-inline-block H-bugle-left H-theme-border-color1 H-position-relative H-vertical-top-5" style="border-width:9px"></label><label class="H-display-inline-block H-padding-horizontal-both-5 H-theme-background-color1 H-font-size-12 H-theme-font-color-white">再减20</label></span>
                </div>
            </div>
        </div>
    </div>
    <div class="H-n-grid H-clear-both H-margin-vertical-top-8">
        <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-border-vertical-top-after H-border-vertical-bottom-after H-padding-vertical-both-5 H-theme-background-color-white">
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-border-horizontal-right-after H-width-avg-2 H-border-vertical-bottom-after H-center-all H-theme-background-color-white" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color7">
                            话费充值
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            充值享98折优惠
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all  H-theme-background-color-white H-border-vertical-bottom-after" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color2">
                            打印复印
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            文件送货到家服务
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-border-horizontal-right-after H-width-avg-2 H-border-vertical-bottom-after H-center-all H-theme-background-color-white" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color5">
                            1元买单
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            充值享98折优惠
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all  H-theme-background-color-white H-border-vertical-bottom-after" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color2">
                            低至19.9
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            文件送货到家服务
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all H-theme-background-color-white H-border-horizontal-right-after" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color8">
                            家务交给我们
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            享受读书好时光
                        </div>
                    </div>
                </div>
            </div>
            <div tapmode="" class="H-display-table-cell H-float-left H-box-sizing-border-box H-width-avg-2 H-center-all  H-theme-background-color-white" style="min-height: 70px;">
                <div class="H-margin-horizontal-left-8" style="width: 42px; height: 42px; ">
                    <img src="../../../image/logo.png" class="H-display-block H-border-radius-circle H-border-both H-width-100-percent H-height-100-percent" />
                </div>
                <div class="H-flex-item H-padding-horizontal-both-10 H-vertical-middle H-overflow-hidden H-box-sizing-border-box">
                    <div class="H-max-width-100-percent">
                        <div class="H-font-weight-bold H-font-size-14 H-theme-font-color1">
                            敢拆开洗吗？
                        </div>
                        <div class="H-theme-font-color-999 H-font-size-12 H-padding-vertical-top-2 H-text-show-row-1">
                            看看洗衣机有多脏
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-vertical-middle H-margin-vertical-top-8">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-18 H-padding-vertical-both-10 H-theme-font-color-red"><i class="H-iconfont H-icon-like H-theme-font-color-red H-font-size-18"></i> 猜你喜欢</div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10 H-width-90 H-height-90" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box H-max-width-100-percent H-overflow-hidden" style="height: 110px; ">
            <div class="H-position-relative H-width-100-percent"><strong class="H-font-size-18 H-font-weight-normal font-weight-500 H-text-show-row-1 H-display-block H-box-sizing-border-box" style="margin-right:50px;">产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称产品名称</strong><span class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-horizontal-right-0 H-vertical-top-5">约500M</span></div>
            <div class="H-font-weight-normal font-weight-500 H-font-size-12 H-display-block H-text-show-row-2 H-theme-font-color-999">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-box-sizing-border-box" style="bottom: 0; left: 10px; right: 10px; "><span class="H-theme-font-color5 H-font-size-26">￥59.8</span> <span class="">门市价：￥58</span><span class="H-float-right H-position-absolute H-horizontal-right-0 H-vertical-bottom-8">已售2356</span></p>
        </div>
    </div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            onTouchStart: function (swiper, even) {
                H.setFrameAttr(H.frameName, null, { bounces: false });
            },
            onTouchEnd: function (swiper) {
                H.setFrameAttr(H.frameName, null, { bounces: true });
            }
        });
    </script>
</body>
</html>