<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body>
    <div class="shopping-list H-auto-height">
        <div class="H-flexbox-horizontal H-clear-both H-vertical-middle H-padding-12 H-theme-background-color-white H-border-vertical-bottom-after  H-box-sizing-border-box">
            <div class=""><input type="checkbox" class="H-checkbox H-checkbox-null H-vertical-align-middle H-font-size-18 H-theme-font-color9 H-border-radius-5"></div>
            <div class="H-margin-horizontal-both-10"><img src="../../../image/logo.png" class="H-height-50 H-width-50 H-display-block H-vertical-align-middle" /></div>
            <div class="H-flex-item H-overflow-hidden">
                <strong class="H-font-weight-normal H-display-block H-text-show-row-1 H-font-size-16">产品名称</strong>
                <label class="H-theme-font-color9 H-font-size-14">￥108元</label><div class="H-display-inline-block H-float-right H-vertical-middle H-theme-border-color-eee H-overflow-hidden"><span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;"><i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i></span><input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;" /><span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;"><i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i></span></div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-clear-both H-vertical-middle H-padding-12 H-theme-background-color-white H-border-vertical-bottom-after  H-box-sizing-border-box">
            <div class=""><input type="checkbox" checked="checked" class="H-checkbox H-checkbox-null H-vertical-align-middle H-font-size-18 H-theme-font-color9 H-border-radius-circle"></div>
            <div class="H-margin-horizontal-both-10"><img src="../../../image/logo.png" class="H-height-50 H-width-50 H-display-block H-vertical-align-middle" /></div>
            <div class="H-flex-item H-overflow-hidden">
                <strong class="H-font-weight-normal H-display-block H-text-show-row-1 H-font-size-16">产品名称</strong>
                <label class="H-theme-font-color9 H-font-size-14">￥108元</label><div class="H-display-inline-block H-float-right H-vertical-middle H-theme-border-color-eee H-overflow-hidden"><span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;"><i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i></span><input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;" /><span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;"><i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i></span></div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-clear-both H-vertical-middle H-padding-12 H-theme-background-color-white H-border-vertical-bottom-after  H-box-sizing-border-box">
            <div class=""><input type="checkbox" checked="checked" class="H-checkbox H-checkbox-fill H-vertical-align-middle H-font-size-18 H-theme-font-color9 H-border-radius-5"></div>
            <div class="H-margin-horizontal-both-10"><img src="../../../image/logo.png" class="H-height-50 H-width-50 H-display-block H-vertical-align-middle" /></div>
            <div class="H-flex-item H-overflow-hidden">
                <strong class="H-font-weight-normal H-display-block H-text-show-row-1 H-font-size-16">产品名称</strong>
                <label class="H-theme-font-color9 H-font-size-14">￥108元</label><div class="H-display-inline-block H-float-right H-vertical-middle H-theme-border-color-eee H-overflow-hidden"><span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;"><i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i></span><input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;" /><span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;"><i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i></span></div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-clear-both H-vertical-middle H-padding-12 H-theme-background-color-white H-border-vertical-bottom-after  H-box-sizing-border-box">
            <div class=""><input type="checkbox" class="H-checkbox H-checkbox-null H-vertical-align-middle H-font-size-18 H-theme-font-color9 H-border-radius-5"></div>
            <div class="H-margin-horizontal-both-10"><img src="../../../image/logo.png" class="H-height-50 H-width-50 H-display-block H-vertical-align-middle" /></div>
            <div class="H-flex-item H-overflow-hidden">
                <strong class="H-font-weight-normal H-display-block H-text-show-row-1 H-font-size-16">产品名称</strong>
                <label class="H-theme-font-color9 H-font-size-14">￥108元</label><div class="H-display-inline-block H-float-right H-vertical-middle H-theme-border-color-eee H-overflow-hidden"><span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;"><i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i></span><input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;" /><span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;"><i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i></span></div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-clear-both H-vertical-middle H-padding-12 H-theme-background-color-white H-border-vertical-bottom-after  H-box-sizing-border-box">
            <div class=""><input type="checkbox" class="H-checkbox H-checkbox-fill H-vertical-align-middle H-font-size-18 H-theme-font-color9 H-border-radius-circle"></div>
            <div class="H-margin-horizontal-both-10"><img src="../../../image/logo.png" class="H-height-50 H-width-50 H-display-block H-vertical-align-middle" /></div>
            <div class="H-flex-item H-overflow-hidden">
                <strong class="H-font-weight-normal H-display-block H-text-show-row-1 H-font-size-16">产品名称</strong>
                <label class="H-theme-font-color9 H-font-size-14">￥108元</label><div class="H-display-inline-block H-float-right H-vertical-middle H-theme-border-color-eee H-overflow-hidden"><span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;"><i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i></span><input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;" /><span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;"><i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i></span></div>
            </div>
        </div>
    </div>
    <script src="../../../script/H.js" type="text/javascript"></script>
</body>
</html>