<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6915194260483" version="0.0.1">
  <name>Hui</name>
  <description/>
  <author email="winu@winu.net" href="http://www.apicloud.com">中山赢友网络科技有限公司</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true"/>
  <preference name="debug" value="true"/>
  <preference name="statusBarAppearance" value="true"/>
  <preference name="softInputMode" value="resize"/>
  <permission name="readPhoneState"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <permission name="call"/>
  <permission name="sms"/>
  <permission name="contact"/>
  <access origin="*"/>
</widget>
