<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body>
    <div style="height: 160px;" class="H-overflow-hidden">
        <div class="swiper-container-3D2 H-width-100-percent H-height-100-percent">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../../image/banner.jpg" class="H-width-100-percent H-height-100-percent" /></div>
                <div class="swiper-slide"><img src="../../../image/banner.jpg" class="H-width-100-percent H-height-100-percent" /></div>
                <div class="swiper-slide"><img src="../../../image/banner.jpg" class="H-width-100-percent H-height-100-percent" /></div>
            </div>
            <div class="swiper-pagination" style="bottom: 0 !important"></div>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white H-padding-vertical-top-12 H-padding-vertical-both-10">
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qq H-font-size-22 H-theme-font-color-white"></i></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weixin H-font-size-22 H-theme-font-color-white"></i></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-weibo H-font-size-22 H-theme-font-color-white"></i></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color5 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-qzone H-font-size-22 H-theme-font-color-white"></i></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color6 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><i class="H-iconfont H-icon-friends H-font-size-22 H-theme-font-color-white"></i></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">菜单名</label>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-margin-vertical-both-5">
        <div class="H-flex-item H-margin-horizontal-right-5"><img src="../../../image/hd.png" class="H-display-block H-width-100-percent" /></div>
        <div class="H-flex-item H-position-relative">
            <img src="../../../image/jc.png" class="H-display-block H-width-100-percent" />
            <img src="../../../image/sc.png" class="H-display-block H-width-100-percent H-position-absolute" style="bottom: 0;" />
        </div>
    </div>
    <div class="H-margin-vertical-top-5 H-theme-background-color-white H-padding-vertical-bottom-5">
        <div class="H-font-size-16 H-theme-font-color-444 H-padding-8 H-vertical-align-middle"><span class="H-display-inline-block H-font-size-12 H-padding-horizontal-both-3 H-theme-background-color1 H-theme-font-color-white H-vertical-align-middle H-margin-horizontal-right-8">公告</span>Hui正式版发布了，多多支持！</div>
        <img src="../../../image/banner3.jpg" class="H-display-block H-width-100-percent" />
        <p class="H-font-size-13 H-theme-font-color-666 H-padding-horizontal-both-5 H-text-show-row-2 H-margin-vertical-top-8 H-margin-vertical-bottom-5">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</p>
        <p class="H-font-size-12 H-theme-font-color-999 H-padding-horizontal-both-5 H-margin-vertical-top-0 H-margin-vertical-bottom-0">新生帝&nbsp;&nbsp;2016-04-29<span class="H-float-right H-icon"><i class="H-iconfont H-icon-nice H-font-size-14"></i> 30</span></p>
    </div>
    <div class="list H-margin-vertical-top-5">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
            <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-2 H-theme-font-color-666">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
                <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">新生帝</span><span class="H-float-right">2016-04-18</span></p>
            </div>
            <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-right-10" style="width: 70px; height: 70px;" /></div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        var swipe = new Swiper('.swiper-container-3D2', {
            pagination: '.swiper-pagination',
            effect: 'cube',
            grabCursor: true,
            cube: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94
            }
        });
    </script>
</body>
</html>