<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>

    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .background { background-color: #f8f9f9; }
    </style>
</head>
<body>
    <div class="H-swiper H-position-relative H-width-100-percent H-box-sizing-border-box H-overflow-scrolling" style="height:150px;">
        <div class="swiper-container  swiper-normal H-position-absolute H-width-100-percent H-height-100-percent">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../../image/templates-imgs/qq_read/banner3.jpg" class="H-width-100-percent H-height-100-percent" /></div>
                <div class="swiper-slide"><img src="../../../image/templates-imgs/qq_read/banner4.jpg" class="H-width-100-percent H-height-100-percent" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white background H-padding-vertical-both-10">
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/fl.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">分类</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/ph.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">排行</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/by.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">包月</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/mf.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">免费</label>
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/wntj.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/9.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">欢乐颂第二季</span>
            <strong class="H-font-weight-normal H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2"> 五个女人各自携带过往和憧憬先后搬来欢乐颂小区22楼，这样的交集，竟改变了生活的轨迹。 </strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">阿耐</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/10.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">三生三世十里桃花</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2"> 百度阅读官方影视群：255273170。关于影视，如果你有任何想说的想了解的，我们所有人都在QQ群等你。 那一世，大荒之中一处荒山，成就她与他的初见。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">唐七公子</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/11.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">余爱未了</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">十年光阴，他们爱到得意忘形，他见证了她最美的风光，她享有他独一无二的纵容。她曾经以为，贺启诚就是自己的整个世界，却不想世事难料，爱得太深就容易引火烧身，可她越想逃离，就越是靠近，这一切究竟是游戏还是交易？</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">玄默</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/12.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">宠你到世界尽头</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2"> 谁不知道翁璟城招惹过的女孩子，都可以绕城市一周了，但他痴情起来有多可怕，或许只有明西玥能感同身受。他在跟别的女人缠绵时被她撞见，起初是因为她的特别产生兴趣，到后来完全着了魔一般扑上去。他从良了，她倒霉了。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">未眠君</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/xsmf.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/6.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">超吕教师</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">坐者</div>
        </div>
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/7.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">封天神皇</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">抚仙楼</div>
        </div>
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/8.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">尸凶</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">灰小猪</div>
        </div>

    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/rmtj.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>

    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/5.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">欢乐颂第一季</span>
            <strong class="H-font-weight-normal H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">五个女人各自携带过往和憧憬先后搬来欢乐颂小区22楼，这样的交集，竟改变了生活的轨迹。 </strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">阿耐</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/6.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">前夫</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">离婚之后，再遇到前夫卓阅，尤宝珍简直咬牙切齿，他居然没有落魄，他居然没有堕落，他居然还升官发财，他居然还无数美女在怀！尤宝珍觉得，这世界怎么就这么不公平呢？她拼死拼活舍皮卖脸地混来混去，居然还是让他给比了下去。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">妾心如水</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/7.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">废柴道士的爆笑生活2</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">史上最废柴的道士――马力术，是一个以贴小广告为生的“文化工作者”。他出生在一个历代都有一个有通灵能力传人的道士世家，而这一代的通灵能力又刚好遗传到了马力术身上，于是他继承了他爷爷的二叔的大爷的曾孙子留给他的一座二层小楼，开始了他的道士生活。这座二层小楼位于极阴之地，里面住着一个大舌头吊死鬼、一个男人头、一个没舌头的小鬼、一个狐狸精、一个画皮妖，还有一个神兽――貔貅，这些鬼和妖各自都有一段既纠结又爆笑的故事，请听马力术为您娓娓道来。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">轩辕小胖</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/8.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">后宫·如懿传2</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">这后宫之中，上演过太多的恩宠枯荣，起起落落。妃嫔的命运，如同悬崖边的稻草，再聪明的打算，再阴险的算计，倚望的都不过是圣意阴晴。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">流潋紫</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script src="../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-normal', {
            pagination: '.swiper-pagination',
            loop: true
        });
    </script>
</body>
</html>
