<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>
    <link href="../../../plugins/swiper/swiper.min.css" rel="stylesheet" />
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .background { background-color: #f8f9f9; }
    </style>
</head>
<body>
    <div class="H-swiper H-position-relative H-width-100-percent H-box-sizing-border-box H-overflow-scrolling" style="height:150px;">
        <div class="swiper-container  swiper-normal H-position-absolute H-width-100-percent H-height-100-percent">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../../image/templates-imgs/qq_read/banner1.jpg" class="H-width-100-percent H-height-100-percent" /></div>
                <div class="swiper-slide"><img src="../../../image/templates-imgs/qq_read/banner2.jpg" class="H-width-100-percent H-height-100-percent" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white background H-padding-vertical-both-10">
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/fl.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">分类</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/ph.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">排行</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/by.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">包月</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/mf.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">免费</label>
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/wntj.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/1.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">三体三部曲</span>
            <strong class="H-font-weight-normal H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2"> 第73届雨果奖最佳长篇故事获奖作品。文化大革命如火如荼进行的同时。军方探寻外星文明的绝秘计划“红岸工程”取得了突破性进展。但在按下发射键的那一刻，历经劫难的叶文洁没有意识到，她彻底改变了人类的命运。地球文明向宇宙发出的第一声啼鸣，以太阳为中心，以光速向宇宙深处飞驰</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">刘慈欣</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/2.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">逆天邪神</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">掌天毒之珠，承邪神之血，修逆天之力，一代邪神，君临天下</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">火星引力</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/3.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">人类灭绝</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">本世纪初，“美国智库”向总统提交了一份绝密文件《海斯曼报告》，列举了人类灭绝的五种可能性。除了核战、超级病毒，其中有一种，是出现智慧凌驾于人类的新物种。如今预言成真，足以毁灭人类的新生物果然在非洲出现。一切生物中，只有人类会大量屠杀同类。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">高野和明</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/4.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">幽灵舰队</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">   随着人类向外星球的扩张殖民，宇宙正在变得越来越危险，三个种族的外星人正准备结盟对付人类，一场大战迫在眉睫。幽灵旅——殖民防卫军的特种部队，是人类最强的防卫力量，他们由死去之人的DNA克隆而成，身体强壮、反应敏捷，生来就是战士。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">[美]约翰·斯卡尔齐</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/xsmf.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/6.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">超吕教师</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">坐者</div>
        </div>
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/7.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">封天神皇</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">抚仙楼</div>
        </div>
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/8.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">尸凶</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">灰小猪</div>
        </div>

    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/rmtj.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>

    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/5.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">欢乐颂第一季</span>
            <strong class="H-font-weight-normal H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">五个女人各自携带过往和憧憬先后搬来欢乐颂小区22楼，这样的交集，竟改变了生活的轨迹。 </strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">阿耐</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/6.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">前夫</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">离婚之后，再遇到前夫卓阅，尤宝珍简直咬牙切齿，他居然没有落魄，他居然没有堕落，他居然还升官发财，他居然还无数美女在怀！尤宝珍觉得，这世界怎么就这么不公平呢？她拼死拼活舍皮卖脸地混来混去，居然还是让他给比了下去。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">妾心如水</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/7.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">废柴道士的爆笑生活2</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">史上最废柴的道士――马力术，是一个以贴小广告为生的“文化工作者”。他出生在一个历代都有一个有通灵能力传人的道士世家，而这一代的通灵能力又刚好遗传到了马力术身上，于是他继承了他爷爷的二叔的大爷的曾孙子留给他的一座二层小楼，开始了他的道士生活。这座二层小楼位于极阴之地，里面住着一个大舌头吊死鬼、一个男人头、一个没舌头的小鬼、一个狐狸精、一个画皮妖，还有一个神兽――貔貅，这些鬼和妖各自都有一段既纠结又爆笑的故事，请听马力术为您娓娓道来。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">轩辕小胖</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div tapmode="" onclick="OpenGoods(1);" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/8.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">后宫·如懿传2</span>
            <strong class="H-font-weight-normal  H-theme-font-color-999 font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">这后宫之中，上演过太多的恩宠枯荣，起起落落。妃嫔的命运，如同悬崖边的稻草，再聪明的打算，再阴险的算计，倚望的都不过是圣意阴晴。</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">流潋紫</span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-normal', {
            pagination: '.swiper-pagination',
            loop: true
        });
        function OpenGoods(id) {
            H.openWin('info_head', 'info_head.html', {
                'id': id
            });
        }
    </script>
</body>
</html>
