<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .background { background-color: #f8f9f9; }
        .button-bg { background-color: #e7f5f6; }
        .H-button { min-width: 60px; }
    </style>
</head>
<body>
    <div class="H-flexbox-horizontal H-theme-background-color-white background H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/1.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <span class="H-flex-item  H-font-size-18  H-text-show-row-1">三体三部曲</span>
            <span class="H-flex-item  H-font-size-14  ">刘慈欣</span>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 50px; left: 10px; right: 10px;">
                <span class="H-flex-item"><i class="H-iconfont H-icon-star-null H-theme-font-color4 H-font-size-18 H-margin-horizontal-right-5"></i><i class="H-iconfont H-icon-star-null H-theme-font-color4 H-font-size-18 H-margin-horizontal-right-5"></i><i class="H-iconfont H-icon-star-null H-theme-font-color4 H-font-size-18 H-margin-horizontal-right-5"></i><i class="H-iconfont H-icon-star-null H-theme-font-color4 H-font-size-18 H-margin-horizontal-right-5"></i><i class="H-iconfont H-icon-star-null H-theme-font-color4 H-font-size-18 H-margin-horizontal-right-5"></i> 1727人评分</span>
            </p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;">230万字 0.05元/千字</p>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-theme-background-color-white H-padding-horizontal-both-10">
        <p class="H-padding-horizontal-both-10 H-font-size-18 H-theme-font-color-black H-text-show-row-4"> 第73届雨果奖最佳长篇故事获奖作品。文化大革命如火如荼进行的同时。军方探寻外星文明的绝秘计划“红岸工程”取得了突破性进展。但在按下发射键的那一刻，历经劫难的叶文洁没有意识到，她彻底改变了人类的命运。地球文明向宇宙发出的第一声啼鸣，以太阳为中心，以光速向宇宙深处飞驰……四光年外，“三体文明”正苦苦挣扎——三颗无规则运行的太阳主导下的百余次毁灭与重生逼迫他们逃离母星。而恰在此时。他们接收到了地球发来的信息。在运用超技术锁死地球人的基础科学之后。三体人庞大的宇宙舰队开始向地球进发……</p>
        <button class="H-button H-font-size-15 H-outline-none H-padding-vertical-both-2 H-padding-horizontal-both-20 H-theme-background-color1 button-bg H-theme-font-color-black H-theme-border-color1 H-theme-border-color1-click H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3">科幻</button>
        <button class="H-button H-font-size-15 H-outline-none H-padding-vertical-both-2 H-padding-horizontal-both-20 H-theme-background-color1 button-bg H-theme-font-color-black H-theme-border-color1 H-theme-border-color1-click H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3">恐怖</button>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">目录</div>2016-05-16更新至1515章
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-green H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">作者简介</div>
        查看详情<span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-green H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12 H-text-show-row-3" style="line-height: 29px;">
            刘慈欣，祖籍河南，长于山西，中国科普作家协会会员，山西省作家协会会员，高级工程师。自1999年处女作《鲸歌》问世以来，发表短篇科幻小说三十余篇，出版长篇科幻小说七部，并创下连续八年荣获中国科幻最高奖“银河奖”的纪录。其气势恢宏的“地球往事”系列第一部《三体》开创了《科幻世界》月刊连载原创作品之先河，一举成为2006年度最受关注、最畅销的科幻小说。2008年，“地球往事”系列第二部《黑暗森林》面世，再次成为当年最畅销的科幻小说。2011年，“地球往事”系列第三部《死神永生》出版。
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/ds.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/syjl.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-8">
            <img id="face" src="../../../image/templates-imgs/qq_read/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
        </div>
        <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
            <div class="H-theme-font-color-999 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left H-font-size-15 H-theme-font-color1">Hui官方</span>
                <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12">3楼</span>
            </div>
            <div class="H-font-size-14 H-margin-vertical-top-5 H-font-size-12">
                <div>
                    谢谢支持！Hui也会一直努力的！
                </div>
                <div class="H-padding-5 H-margin-vertical-both-5 H-border-radius-3 H-theme-background-color-eee">
                    <span class="H-theme-font-color1">贝多芬：</span>Hui是一款与众不同，却包罗万象的移动UI框架！
                </div>
            </div>
            <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-padding-vertical-top-3 H-font-size-12" id="address">
                2016-1-1 10:12:12<span class="H-theme-font-color1 H-float-right">回复</span>
            </div>
        </div>
    </div>
    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
        <div class="H-theme-font-color-999 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left H-font-size-15 H-theme-font-color1">Hui官方</span>
            <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12">3楼</span>
        </div>
        <div class="H-font-size-14 H-margin-vertical-top-5 H-font-size-12">
            <div>
                谢谢支持！Hui也会一直努力的！
            </div>
            <div class="H-padding-5 H-margin-vertical-both-5 H-border-radius-3 H-theme-background-color-eee">
                <span class="H-theme-font-color1">贝多芬：</span>Hui是一款与众不同，却包罗万象的移动UI框架！
            </div>
        </div>
        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-padding-vertical-top-3 H-font-size-12" id="address">
            2016-1-1 10:12:12<span class="H-theme-font-color1 H-float-right">回复</span>
        </div>
    </div>
    </div>
    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
        <div class="H-theme-font-color-999 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left H-font-size-15 H-theme-font-color1">Hui官方</span>
            <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12">3楼</span>
        </div>
        <div class="H-font-size-14 H-margin-vertical-top-5 H-font-size-12">
            <div>
                谢谢支持！Hui也会一直努力的！
            </div>
            <div class="H-padding-5 H-margin-vertical-both-5 H-border-radius-3 H-theme-background-color-eee">
                <span class="H-theme-font-color1">贝多芬：</span>Hui是一款与众不同，却包罗万象的移动UI框架！
            </div>
        </div>
        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-padding-vertical-top-3 H-font-size-12" id="address">
            2016-1-1 10:12:12<span class="H-theme-font-color1 H-float-right">回复</span>
        </div>
    </div>
    </div>
    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
        <div class="H-theme-font-color-999 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left H-font-size-15 H-theme-font-color1">Hui官方</span>
            <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12">3楼</span>
        </div>
        <div class="H-font-size-14 H-margin-vertical-top-5 H-font-size-12">
            <div>
                谢谢支持！Hui也会一直努力的！
            </div>
            <div class="H-padding-5 H-margin-vertical-both-5 H-border-radius-3 H-theme-background-color-eee">
                <span class="H-theme-font-color1">贝多芬：</span>Hui是一款与众不同，却包罗万象的移动UI框架！
            </div>
        </div>
        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-padding-vertical-top-3 H-font-size-12" id="address">
            2016-1-1 10:12:12<span class="H-theme-font-color1 H-float-right">回复</span>
        </div>
    </div>
    </div>
    <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
        <div class="H-theme-font-color-999 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
            <span class="H-display-block H-flex-item H-text-align-left H-font-size-15 H-theme-font-color1">Hui官方</span>
            <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12">3楼</span>
        </div>
        <div class="H-font-size-14 H-margin-vertical-top-5 H-font-size-12">
            <div>
                谢谢支持！Hui也会一直努力的！
            </div>
            <div class="H-padding-5 H-margin-vertical-both-5 H-border-radius-3 H-theme-background-color-eee">
                <span class="H-theme-font-color1">贝多芬：</span>Hui是一款与众不同，却包罗万象的移动UI框架！
            </div>
        </div>
        <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-padding-vertical-top-3 H-font-size-12" id="address">
            2016-1-1 10:12:12<span class="H-theme-font-color1 H-float-right">回复</span>
        </div>
    </div>
    </div>
    <script src="../../../script/H.js" type="text/javascript"></script>
</body>
</html>
