<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../plugins/swiper/swiper.min.css">
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .background { background-color: #f8f9f9; }
    </style>
</head>
<body>
    <div class="H-swiper H-position-relative H-width-100-percent H-box-sizing-border-box H-overflow-scrolling" style="height:150px;">
        <div class="swiper-container  swiper-normal H-position-absolute H-width-100-percent H-height-100-percent">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../../image/templates-imgs/qq_read/banner5.jpg" class="H-width-100-percent H-height-100-percent" /></div>
                <div class="swiper-slide"><img src="../../../image/templates-imgs/qq_read/banner6.jpg" class="H-width-100-percent H-height-100-percent" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-text-align-center H-theme-background-color-white background H-padding-vertical-both-10">
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color1 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/fl.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">分类</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color2 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/ph.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">排行</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color3 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/by.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">包月</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-theme-background-color4 H-border-radius-15 H-margin-horizontal-auto" style="height: 42px; width: 42px; "><img height="42px" width="42px" src="../../../image/templates-imgs/qq_read/mf.png"></span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-5">免费</label>
        </div>
    </div>

    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/xsmf.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10">
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/6.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">超吕教师</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">坐者</div>
        </div>
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/7.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">封天神皇</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">抚仙楼</div>
        </div>
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/templates-imgs/qq_read/8.png" class="H-width-100-percent H-display-block" alt="" title="" />
            <div class="H-text-align-center H-font-size-14 H-padding-vertical-top-5">尸凶</div>
            <div class="H-text-align-center H-font-size-13 H-theme-font-color-999 H-padding-vertical-top-5">灰小猪</div>
        </div>

    </div>
    <div class="H-clear-both H-width-100-percent  H-display-table H-box-sizing-border-box">
        <div class="H-float-left H-box-sizing-border-box H-width-avg-1 H-display-table-cell">
            <img src="../../../image/templates-imgs/qq_read/rmtj.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/8.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <strong class="H-flex-item  H-font-size-18  H-text-show-row-1">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0 H-font-weight-bold" style="bottom: 35px; left: 10px; right: 10px;"><span class="H-float-left">七品 <img height="14px" width="24px" src="../../../image/templates-imgs/qq_read/sign.png"> </span></p>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/5.jpg" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <strong class="H-flex-item  H-font-size-18  H-text-show-row-1">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/6.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <strong class="H-flex-item  H-font-size-18  H-text-show-row-1">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img src="../../../image/templates-imgs/qq_read/7.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 90px; height: 120px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 140px; ">
            <strong class="H-flex-item  H-font-size-18  H-text-show-row-1">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</strong>
            <p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left"><i class="H-iconfont H-icon-star"></i> 2.83万人收藏</span></p>
        </div>
    </div>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script src="../../../plugins/swiper/swiper.min.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-normal', {
            pagination: '.swiper-pagination',
            loop: true
        });
    </script>
</body>
</html>
