<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body>
    <div class="H-flexbox-horizontal">
        <textarea class="H-textbox H-vertical-align-middle H-vertical-middle H-font-size-16 H-flex-item H-box-sizing-border-box H-border-none H-outline-none H-padding-12" placeholder="总得写点什么..."></textarea>
    </div>
    <div class="H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-vertical-top-10 H-padding-horizontal-left-10 H-theme-background-color-white">
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-4 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/plus.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <span class="H-icon H-display-block H-margin-horizontal-left-10"><i class="H-iconfont H-icon-position H-font-size-18 H-vertical-middle H-theme-font-color-ccc"></i></span>
        <div class="H-flex-item H-padding-horizontal-both-8 H-font-size-16 H-padding-vertical-both-10 H-theme-font-color-444">所在位置</div>
    </div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-both-after H-vertical-middle H-touch-active H-margin-vertical-top-20">
        <span class="H-icon H-display-block H-margin-horizontal-left-10"><i class="H-iconfont H-icon-earth H-font-size-18 H-vertical-middle H-theme-font-color-ccc"></i></span>
        <div class="H-flex-item H-padding-horizontal-both-8 H-font-size-16 H-padding-vertical-both-10 H-theme-font-color-444">谁可以看</div>
        <span class="H-display-block H-font-size-14 H-margin-horizontal-right-10 H-theme-font-color-999">公开</span>
    </div>
    <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <span class="H-icon H-display-block H-margin-horizontal-left-10"><i class="H-iconfont H-icon-aite H-font-size-18 H-vertical-middle H-theme-font-color-ccc"></i></span>
        <div class="H-flex-item H-padding-horizontal-both-8 H-font-size-16 H-padding-vertical-both-10 H-theme-font-color-444">提醒谁看</div>
    </div>
    <div class="H-margin-vertical-top-5 H-padding-horizontal-both-10">
        <span class="H-icon"><i class="H-iconfont H-icon-qzone H-theme-font-color-ccc H-font-size-18"></i></span>
    </div>
    <script src="../../../script/H.js" type="text/javascript"></script>
</body>
</html>