<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="list">
        <div class="bbs-item H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
        <div class="bbs-item H-margin-vertical-top-5 H-border-vertical-bottom-after">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-8">
                    <img src="../../../image/logo.png" alt="" title="" class=" H-display-block H-margin-horizontal-left-10 H-border-radius-circle H-width-45 H-height-45" />
                </div>
                <div class="H-flex-item H-margin-10">
                    <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                        <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1">新生帝</span></span>
                        <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">10分钟前</span>
                    </div>
                    <div class="H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12">
                        广东省中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" onclick="OpenBbs(1);">
                一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
            </div>
            <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10" onclick="OpenBbs(1);">
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent H-display-block" alt="" title="" />
                </div>
                <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-3 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
                    <img src="../../../image/logo.png" class="H-width-100-percent  H-display-block" alt="" title="" />
                </div>
            </div>
            <div class="H-flexbox-horizontal H-clear-both H-theme-background-color-white H-padding-8 H-box-sizing-border-box H-border-vertical-top-margin-both-10-after">
                <span class="H-font-size-14 H-flex-item  H-center-all H-theme-font-color9 H-border-horizontal-right-after"><i class="H-iconfont H-icon-review-fill  H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all"><i class="H-iconfont H-icon-like H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
                <span class="H-font-size-14 H-flex-item  H-center-all  H-border-horizontal-left-after"><i class="H-iconfont H-icon-ding-null H-theme-font-color-ccc H-font-size-18 H-margin-horizontal-right-5"></i><label class="H-display-inline-block H-theme-font-color-ccc H-vertical-middle">3</label></span>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
        function OpenBbs(id) {
            H.openWin('info_head', 'info_head.html', {
                'id': id
            });
        }
    </script>
</body>
</html>