<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body id="body" class="">
    <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
        <div class="H-padding-vertical-both-8">
            <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 45px; height: 45px;" />
        </div>
        <div class="H-flex-item H-margin-vertical-both-10 H-margin-10">
            <div class="H-theme-font-color-999 H-font-size-14 H-text-horizontal-left H-vertical-middle H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left H-font-size-14"><span class="H-theme-font-color1" id="nickname">新生帝</span></span>
                <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">2016-1-1 10:12:12</span>
            </div>
            <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                广东省中山市中山二路48好怡中大厦5楼515
            </div>
        </div>
    </div>
    <div class="H-theme-background-color-white H-theme-font-color-333 H-padding-10 H-font-size-14" id="contents">
        一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司！
    </div>
    <div class="H-theme-background-color-white H-clear-both H-width-100-percent H-display-table H-box-sizing-border-box H-padding-horizontal-left-10 H-margin-vertical-bottom-5">
        <div class="H-display-table-cell H-float-left  H-box-sizing-border-box H-width-avg-1 H-padding-horizontal-right-10 H-margin-vertical-bottom-10">
            <img src="../../../image/banner.png" class="H-width-100-percent H-display-block" alt="" title="" />
        </div>
    </div>
    <div class="H-display-none H-text-align-center H-padding-vertical-bottom-10 H-padding-horizontal-both-10 H-theme-background-color-white">
        <button class="H-font-size-15 H-outline-none H-theme-background-color-transparent H-padding-vertical-both-2 H-padding-horizontal-both-10 H-theme-font-color-black H-theme-border-color-black H-theme-border-color1 H-theme-font-color1 H-border-radius-3">
            <i class="H-iconfont H-icon-msg"></i><span class="H-margin-horizontal-left-2">2</span>
        </button>
        <button class="H-margin-horizontal-left-10 H-font-size-15 H-outline-none H-theme-background-color-transparent H-padding-vertical-both-2 H-padding-horizontal-both-10 H-theme-font-color-black H-theme-border-color-black H-theme-border-color2 H-theme-font-color2 H-border-radius-3">
            <i class="H-iconfont H-icon-nice"></i><span class="H-margin-horizontal-left-2">12</span>
        </button>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div id="replaylist">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-8">
                <img id="face" src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">忽悠我</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">1楼</span>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-5">
                <img id="face" src="../../../image/logo.png" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10 H-border-radius-circle" style="width: 30px; height: 30px;" />
            </div>
            <div class="H-flex-item H-margin-vertical-both-8 H-margin-10">
                <div class="H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                    <span class="H-display-block H-flex-item H-text-align-left H-font-size-14 H-theme-font-color1">忽悠我</span>
                    <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color-999 H-font-size-12" id="times">2楼</span>
                </div>
                <div class="H-font-size-12 H-text-show-row-2 H-margin-vertical-top-2 H-font-size-12" id="address">
                    回复内容回复内容回复内容回复内容回复内容
                </div>
                <div class="H-font-size-10 H-theme-font-color-999 H-text-show-row-1 H-margin-vertical-top-2 H-font-size-12" id="address">
                    2016-1-1 10:12:12
                </div>
            </div>
        </div>
    </div>
    <div class="H-background-white H-padding10">
        <p class="H-font-size-12 H-theme-font-color-999 H-text-align-center" id="noreplay">沙发空余，快来抢占</p>
        <div class="H-padding-vertical-bottom-10"></div>
    </div>
    <script type="text/javascript" src="../../script/H.js"></script>
</body>
</html>