<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body>
    <div tapmode="" onclick="H.openWin('weixin_push_head', 'weixin/weixin_push_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿微信发布</div>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-18</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('weixin_contacts_head', 'weixin/weixin_contacts_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿微信通讯录</div>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('qq_chat_list_head', 'qq/qq_chat_list_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿QQ会话列表</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color6 H-theme-font-color-white H-font-size-12">重构</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-25</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('dotdot_ucenter_head', 'dotdot/dotdot_ucenter_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">点点例个人中心</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color7 H-theme-font-color-white H-font-size-12">更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-25</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('entry_head', 'entry/entry_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">常见登录注册</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color7 H-theme-font-color-white H-font-size-12">更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-25</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('meituan_index_head', 'meituan/meituan_index_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿美团首页</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('taobao_index_head', 'taobao/taobao_index_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿淘宝首页</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('taobao_product_detail_head', 'taobao/taobao_product_detail_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿淘宝产品详情</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('tuniu_index_head', 'tuniu/tuniu_index_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿途牛首页</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('baidu_tieba_index_head', 'baidu/baidu_tieba_index_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿百度贴吧首页</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('dazhongdianping_index_head', 'dazhongdianping/dazhongdianping_index_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿大众点评首页</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div tapmode="" onclick="H.openWin('maoyan_index_head', 'maoyan/maoyan_index_head.html');" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-after H-vertical-middle H-touch-active">
        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">仿猫眼（完整）</div>
        <span class="H-badge H-display-block H-margin-horizontal-right-5"><label class="H-display-inline-block H-vertical-middle H-theme-background-color3 H-theme-font-color-white H-font-size-12">待更新</label></span>
        <span class="H-badge H-display-block"><label class="H-display-inline-block H-vertical-middle H-theme-background-color4 H-theme-font-color-white H-font-size-12">04-20</label></span>
        <span class="H-icon H-padding-horizontal-right-5 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-ccc H-font-size-14 H-vertical-middle"></i></span>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <script src="../../script/H.js" type="text/javascript"></script>
</body>
</html>