<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .wf-column { float: left; }
        .wf-box { border: 1px solid #eae8e8; }
        .wf-box .content { background: #fbfbfb; }

        @media screen and (min-width: 768px) {
            .wf-container { width: 750px; }
        }

        @media screen and (min-width: 992px) {
            .wf-container { width: 970px; }
        }

        @media screen and (min-width: 1200px) {
            .wf-container { width: 1170px; }
        }
    </style>
</head>
<body class="H-theme-background-color-white">
    <div class="wf-container H-display-table H-margin-horizontal-left-10 H-clear-both">
        <div tapmode="" onclick="H.openWin('weixin_push_head', 'weixin/weixin_push_head.html');" class="wf-box H-box-sizing-border-box H-margin-vertical-top-15 H-margin-horizontal-right-10 H-border-radius-3 H-overflow-hidden H-position-relative">
            <img src="../../image/rec.gif" class="H-position-absolute H-z-index-10000" style="right:30px; top:200px;" />
            <img src="../../image/templates/weixin_push.png" class="H-display-block  H-width-100-percent">
            <div class="content">
                <div class="H-padding-8 H-box-sizing-border-box" style="border-top: 1px solid #eae8e8; ">
                    <div><strong class="H-font-weight-normal H-font-weight-500 H-font-size-16">仿微信发布</strong></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-vip H-font-size-14 H-theme-font-color9"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">新生帝</label></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-time H-font-size-14 H-theme-font-color1"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">2016-04-18</label></div>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="H.openWin('weixin_contacts_head', 'weixin/weixin_contacts_head.html');" class="wf-box H-box-sizing-border-box H-margin-vertical-top-15 H-margin-horizontal-right-10 H-border-radius-3 H-overflow-hidden H-position-relative">
            <img src="../../image/rec.gif" class="H-position-absolute H-z-index-10000" style="right:30px; top:200px;" />
            <img src="../../image/templates/weixin_contact.png" class="H-display-block  H-width-100-percent">
            <div class="content">
                <div class="H-padding-8 H-box-sizing-border-box" style="border-top: 1px solid #eae8e8; ">
                    <div><strong class="H-font-weight-normal H-font-weight-500 H-font-size-16">仿微信通讯录</strong></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-vip H-font-size-14 H-theme-font-color9"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">新生帝</label></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-time H-font-size-14 H-theme-font-color1"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">2016-04-25</label></div>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="H.openWin('qq_chat_list_head', 'qq/qq_chat_list_head.html');" class="wf-box H-box-sizing-border-box H-margin-vertical-top-15 H-margin-horizontal-right-10 H-border-radius-3 H-overflow-hidden H-position-relative">
            <img src="../../image/rec.gif" class="H-position-absolute H-z-index-10000" style="right:30px; top:200px;" />
            <img src="../../image/templates/qq_list.png" class="H-display-block  H-width-100-percent">
            <div class="content">
                <div class="H-padding-8 H-box-sizing-border-box" style="border-top: 1px solid #eae8e8; ">
                    <div><strong class="H-font-weight-normal H-font-weight-500 H-font-size-16">仿QQ会话列表</strong></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-vip H-font-size-14 H-theme-font-color9"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">新生帝</label></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-time H-font-size-14 H-theme-font-color1"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">2016-04-25</label></div>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="H.openWin('dotdot_ucenter_head', 'dotdot/dotdot_ucenter_head.html');" class="wf-box H-box-sizing-border-box H-margin-vertical-top-15 H-margin-horizontal-right-10 H-border-radius-3 H-overflow-hidden H-position-relative">
            <img src="../../image/rec.gif" class="H-position-absolute H-z-index-10000" style="right:30px; top:200px;" />
            <img src="../../image/templates/dotdont_ucenter.png" class="H-display-block  H-width-100-percent">
            <div class="content">
                <div class="H-padding-8 H-box-sizing-border-box" style="border-top: 1px solid #eae8e8; ">
                    <div><strong class="H-font-weight-normal H-font-weight-500 H-font-size-16">点点例个人中心</strong></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-vip H-font-size-14 H-theme-font-color9"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">新生帝</label></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-time H-font-size-14 H-theme-font-color1"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">2016-04-25</label></div>
                </div>
            </div>
        </div>
        <div tapmode="" onclick="H.openWin('entry_head', 'entry/entry_head.html');" class="wf-box H-box-sizing-border-box H-margin-vertical-top-15 H-margin-horizontal-right-10 H-border-radius-3 H-overflow-hidden H-position-relative">
            <img src="../../image/rec.gif" class="H-position-absolute H-z-index-10000" style="right:30px; top:200px;" />
            <img src="../../image/templates/entry_login.png" class="H-display-block  H-width-100-percent">
            <div class="content">
                <div class="H-padding-8 H-box-sizing-border-box" style="border-top: 1px solid #eae8e8; ">
                    <div><strong class="H-font-weight-normal H-font-weight-500 H-font-size-16">常见登录注册</strong></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-vip H-font-size-14 H-theme-font-color9"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">新生帝</label></div>
                    <div><span class="H-icon H-display-inline-block"><i class="H-iconfont H-icon-time H-font-size-14 H-theme-font-color1"></i></span><label class="H-font-size-12 H-theme-font-color-666 H-padding-horizontal-left-5">2016-04-25</label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-10"></div>
    <script src="../../plugins/response-waterfall/responsive_waterfall.js"></script>
    <script src="../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        // 初始化
        var waterfall = new Waterfall({
            containerSelector: '.wf-container',
            boxSelector: '.wf-box',
            minBoxWidth: 240
        });
    </script>
</body>
</html>