<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="H-padding-horizontal-both-10 H-padding-vertical-top-5">
        <div class="H-border-vertical-bottom-after H-padding-vertical-both-8">
            <p class="H-text-show-row-2 H-font-size-16 H-theme-font-color-666 H-line-height-normal H-margin-0 H-padding-vertical-bottom-8">7位火锅掌门人，带你吃最骚包的重庆火锅！</p>
            <div class="H-flexbox-horizontal">
                <div class="H-flex-item H-width-90"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
                <div class="H-flex-item H-margin-horizontal-both-10 H-width-100-percent"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
                <div class="H-flex-item H-width-90"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
            </div>
            <div class="H-flexbox-horizontal H-theme-font-color-999 H-font-size-13">
                <div class="H-flex-item">
                    <label>封面新闻</label>
                </div>
                <div class="H-accordion-area">
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-like-null H-font-size-13"></i></span>
                        <font>2385</font>
                    </label>
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-review-null H-font-size-13"></i></span>
                        <font>1</font>
                    </label>
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-time H-font-size-13"></i></span>
                        <font>2分钟前</font>
                    </label>
                    <span class="H-padding-horizontal-both-2 H-accordion-title H-accordion-title"><i class="H-iconfont H-icon-arrow-down H-accordion-icon H-font-size-13"></i></span>
                    <div class="H-flexbox-horizontal H-accordion-main H-display-none-important H-accordion-main H-margin-vertical-top-5">
                        <div class="H-flex-item H-center-all H-theme-background-color-pink H-padding-vertical-both-5">
                            <span><i class="H-iconfont H-icon-like-null H-font-size-14"></i></span>
                            <label class="H-font-size-14 H-theme-font-color-999">喜欢</label>
                        </div>
                        <div class="H-flex-item H-center-all H-theme-background-color-ccc H-padding-vertical-both-5">
                            <span><i class="H-iconfont H-icon-sad H-font-size-16"></i></span>
                            <label class="H-font-size-14 H-theme-font-color-999">不感兴趣</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-padding-vertical-both-8">
            <p class="H-text-show-row-2 H-font-size-16 H-theme-font-color-666 H-line-height-normal H-margin-0 H-padding-vertical-bottom-8">7位火锅掌门人，带你吃最骚包的重庆火锅！</p>
            <div class="H-flexbox-horizontal">
                <div class="H-flex-item H-width-90"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
                <div class="H-flex-item H-margin-horizontal-both-10 H-width-100-percent"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
                <div class="H-flex-item H-width-90"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
            </div>
            <div class="H-flexbox-horizontal H-theme-font-color-999 H-font-size-13">
                <div class="H-flex-item">
                    <label>封面新闻</label>
                </div>
                <div class="H-accordion-area">
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-like-null H-font-size-13"></i></span>
                        <font>2385</font>
                    </label>
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-review-null H-font-size-13"></i></span>
                        <font>1</font>
                    </label>
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-time H-font-size-13"></i></span>
                        <font>2分钟前</font>
                    </label>
                    <span class="H-padding-horizontal-both-2 H-accordion-title H-accordion-title"><i class="H-iconfont H-icon-arrow-down H-accordion-icon H-font-size-13"></i></span>
                    <div class="H-flexbox-horizontal H-accordion-main H-display-none-important H-accordion-main H-margin-vertical-top-5">
                        <div class="H-flex-item H-center-all H-theme-background-color-pink H-padding-vertical-both-5">
                            <span><i class="H-iconfont H-icon-like-null H-font-size-14"></i></span>
                            <label class="H-font-size-14 H-theme-font-color-999">喜欢</label>
                        </div>
                        <div class="H-flex-item H-center-all H-theme-background-color-ccc H-padding-vertical-both-5">
                            <span><i class="H-iconfont H-icon-sad H-font-size-16"></i></span>
                            <label class="H-font-size-14 H-theme-font-color-999">不感兴趣</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="H-border-vertical-bottom-after H-padding-vertical-both-8">
            <p class="H-text-show-row-2 H-font-size-16 H-theme-font-color-666 H-line-height-normal H-margin-0 H-padding-vertical-bottom-8">7位火锅掌门人，带你吃最骚包的重庆火锅！</p>
            <div class="H-flexbox-horizontal">
                <div class="H-flex-item H-width-90"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
                <div class="H-flex-item H-margin-horizontal-both-10 H-width-100-percent"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
                <div class="H-flex-item H-width-90"><img src="../../../../image/logo.png" class="H-width-100-percent" /></div>
            </div>
            <div class="H-flexbox-horizontal H-theme-font-color-999 H-font-size-13">
                <div class="H-flex-item">
                    <label>封面新闻</label>
                </div>
                <div class="H-accordion-area">
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-like-null H-font-size-13"></i></span>
                        <font>2385</font>
                    </label>
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-review-null H-font-size-13"></i></span>
                        <font>1</font>
                    </label>
                    <label class="H-padding-horizontal-right-8">
                        <span><i class="H-iconfont H-icon-time H-font-size-13"></i></span>
                        <font>2分钟前</font>
                    </label>
                    <span class="H-padding-horizontal-both-2 H-accordion-title H-accordion-title"><i class="H-iconfont H-icon-arrow-down H-accordion-icon H-font-size-13"></i></span>
                    <div class="H-flexbox-horizontal H-accordion-main H-display-none-important H-accordion-main H-margin-vertical-top-5">
                        <div class="H-flex-item H-center-all H-theme-background-color-pink H-padding-vertical-both-5">
                            <span><i class="H-iconfont H-icon-like-null H-font-size-14"></i></span>
                            <label class="H-font-size-14 H-theme-font-color-999">喜欢</label>
                        </div>
                        <div class="H-flex-item H-center-all H-theme-background-color-ccc H-padding-vertical-both-5">
                            <span><i class="H-iconfont H-icon-sad H-font-size-16"></i></span>
                            <label class="H-font-size-14 H-theme-font-color-999">不感兴趣</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../../script/H.js"></script>
    <script type="text/javascript">
        H.on(H.Ds(".H-accordion-title"), "click", function (event) {
            var area = H.getParents(event.target, "H-accordion-area");
            var title = H.D(".H-accordion-title", area);
            var main = H.D(".H-accordion-main", area);
            var icon = H.D(".H-accordion-icon", area);
            if (H.isElement(main)) {
                if (H.hasClass(main, "H-display-none-important")) {

                    H.removeClass(icon, "H-icon-arrow-down");
                    H.addClass(icon, "H-icon-arrow-up");

                    H.removeClass(main, "H-display-none-important");
                }
                else {
                    H.removeClass(icon, "H-icon-arrow-up");
                    H.addClass(icon, "H-icon-arrow-down");

                    H.addClass(main, "H-display-none-important");
                }
            }
        });
    </script>
</body>
</html>