<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/Hui.css" />
    <style type="text/css">
        .H-border-vertical-bottom-after:after { border-bottom: 1px solid #fff !important; }
        .H-touch-active:active { background: #eee !important; }
    </style>
</head>
<body class="H-flexbox-vertical">
    <div class="H-theme-background-color4 H-height-50 H-padding-horizontal-both-12" style="padding-top:35px;">
        <div class="H-flexbox-horizontal H-theme-font-color-white">
            <div class="H-flex-item">
                <div class="H-display-inline-block H-vertical-align-middle"><img src="../../../../image/logo.png" class="H-border-radius-circle H-height-45" /></div>
                <label class="H-font-size-14">点击登录</label>
            </div>
            <div class="H-center-all">
                <span class="H-padding-horizontal-right-5"><i class="H-iconfont H-icon-msg H-vertical-middle H-theme-font-color-white H-font-size-11"></i></span>
                <font class="H-font-size-11 H-vertical-middle">消息</font>
            </div>
        </div>
    </div>
    <div class="list">
        <div tapmode="" onclick="H.openFrame('index','../../index.html');" class="H-flexbox-horizontal list-item H-theme-background-color-eee H-border-vertical-bottom-after H-padding-horizontal-both-12 H-padding-vertical-both-12">
            <div class="H-flex-item">
                <span><i class="H-iconfont H-icon-fangzi H-font-size-14 H-theme-font-color4-active"></i></span>
                <label class="H-font-size-14 H-theme-font-color4-active">首页</label>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after H-font-size-12 H-theme-font-color6-active">
            <div class="H-flex-item">
                <span>我的频道</span>
            </div>
            <div>
                <span><i class="H-iconfont H-icon-pen H-font-size-12"></i></span>
                <label>编辑</label>
            </div>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-touch-active H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>减肥食谱</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>养生食谱</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>煲汤</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>面点</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>西餐</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>火锅</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
        <div tapmode="" class="H-flexbox-horizontal list-item H-padding-horizontal-left-25 H-padding-horizontal-right-12 H-padding-vertical-both-12 H-border-vertical-bottom-after">
            <div class="H-flex-item H-font-size-14">
                <span>翻炒</span>
            </div>
            <strong><i class="H-iconfont H-icon-arrow-right H-font-size-12 H-theme-font-color-999"></i></strong>
        </div>
    </div>
    <div class="H-flex-item"></div>
    <footer class="H-footer H-flexbox-horizontal H-padding-horizontal-both-15" id="footer">
        <div tapmode="" onclick="H.openWin('find_head','../find/find_head.html')" class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active  H-theme-font-color-black">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-finding H-font-size-18"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">发现</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999 H-touch-active ">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-like-null H-font-size-18"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">收藏</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center  H-theme-font-color-999 H-touch-active ">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-gobottom H-font-size-18"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">离线</strong>
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-center  H-theme-font-color-999 H-touch-active ">
            <div>
                <span class="H-icon H-display-block H-line-height-normal"><i class="H-iconfont H-icon-setting H-font-size-18"></i></span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-bottom-2">设置</strong>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../../../../script/H.js"></script>
    <script type="text/javascript">
        //window.onload = function () {
        //    var clientWidth = document.body.clientWidth;
        //    document.body.style.width = (clientWidth - 50) + "px";
        //};
        H.on(H.Ds(".list div"), "click", function (event) {
            var channel_item = H.getParents(event.target, "list-item");
            var index = H.getIndex(channel_item);
            H.addClass(channel_item, "H-theme-background-color-eee");
            H.removeClass(H.siblings(channel_item), "H-theme-background-color-eee");
        });
    </script>
</body>
</html>