<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style>
        body { background: #EDF2F4; }
    </style>
</head>
<body>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="content H-padding-vertical-both-10 H-margin-horizontal-both-5 H-theme-background-color-white">
        <div class="H-flexbox-horizontal H-box-sizing-border-box H-margin-vertical-bottom-10">
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color1">
                    <i class="H-iconfont H-icon-familyarea H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">必备</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color2">
                    <i class="H-iconfont H-icon-femaleanchors H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">礼包</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color7">
                    <i class="H-iconfont H-icon-aliwangwang H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">机器人</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color5">
                    <i class="H-iconfont H-icon-camera H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">网游</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color6">
                    <i class="H-iconfont H-icon-dengpao H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">赚钱宝</span>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-box-sizing-border-box">
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color1">
                    <i class="H-iconfont H-icon-familyarea H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">必备</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color2">
                    <i class="H-iconfont H-icon-femaleanchors H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">礼包</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color7">
                    <i class="H-iconfont H-icon-aliwangwang H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">机器人</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color5">
                    <i class="H-iconfont H-icon-camera H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">网游</span>
            </div>
            <div class="H-flex-item H-text-align-center">
                <span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color6">
                    <i class="H-iconfont H-icon-dengpao H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i>
                </span>
                <span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">赚钱宝</span>
            </div>
        </div>
    </div>
    <div class="H-margin-horizontal-both-5 H-margin-vertical-both-5">
        <div class="H-flexbox-horizontal H-box-sizing-border-box">
            <div class="H-flex-item H-flexbox-horizontal H-box-sizing-border-box H-padding-10 H-theme-background-color-white H-margin-horizontal-right-5 H-text-show-row-1 H-touch-active">
                <div class="H-flex-item H-text-show-row-1">
                    <span class="H-display-block H-text-show-row-1 H-font-size-13 H-theme-font-color5">抢先体验</span>
                    <strong class="H-display-block H-text-show-row-1 H-font-weight-500 H-theme-font-color3">内涵福泽护佑</strong>
                    <span class="H-display-block H-text-show-row-1 H-font-size-12 H-theme-font-color-999">够内涵你就笑出来</span>
                </div>
                <div class="H-overflow-hidden H-vertical-middle">
                    <img src='../../../image/logo.png' class="H-display-block" style="width:60px;height:60px;" alt="" title="" />
                </div>
            </div>
            <div class="H-flex-item H-flexbox-horizontal H-box-sizing-border-box H-padding-10 H-theme-background-color-white H-text-show-row-1 H-touch-active">
                <div class="H-flex-item H-box-sizing-border-box H-text-show-row-1">
                    <span class="H-display-block H-text-show-row-1 H-font-size-13 H-theme-font-color8">优惠生活</span>
                    <strong class="H-display-block H-text-show-row-1 H-font-weight-500 H-theme-font-color3">抢流量，流量送不停</strong>
                    <span class="H-display-block H-text-show-row-1 H-font-size-12 H-theme-font-color-999">红包送不停，欢迎来抢购</span>
                </div>
                <div class="H-overflow-hidden H-vertical-middle">
                    <img src='../../../image/logo.png' class="H-display-block" style="width:60px;height:60px;" alt="" title="" />
                </div>
            </div>
        </div>
    </div>
    <div class="H-margin-horizontal-both-5">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-box-sizing-border-box H-padding-vertical-both-8 H-touch-active">
            <div class="H-padding-horizontal-both-8">
                <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" alt="" title="" />
            </div>
            <div class="H-flex-item H-text-show-row-1">
                <strong class="H-display-block H-font-size-16 H-font-weight-500 H-text-show-row-1">贝贝-母婴网购首选</strong>
                <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                    <span class="H-margin-horizontal-both-2"><label class="scores">4.5</label>分</span>
                    <span class="H-margin-horizontal-both-2"><label class="downloads">2932</label>万人下载</span>
                    <span class="H-margin-horizontal-both-2"><label class="size">23.5</label>MB</span>
                    4.5分 2299万人下载
                </div>
                <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                    <span class="H-display-block H-text-show-row-1"><label class="slogan H-margin-horizontal-both-2">【手慢无】</label>全球母婴尖货集散地</span>
                    全球母婴生活收集之地
                </div>
            </div>
            <div class="H-margin-horizontal-right-10 H-vertical-top">
                <button class="H-outline-none H-theme-background-color-transparent H-theme-border-color1 H-font-size-13 H-padding-horizontal-both-15 H-theme-font-color1 H-theme-background-color1-click H-theme-font-color1-click H-theme-border-color1-click H-border-radius-3 H-white-space-nowrap">下载</button>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <div class="H-margin-horizontal-both-5">
        <div class="H-border-vertical-bottom-margin-both-10-after H-theme-background-color-white">
            <div class="H-flexbox-horizontal">
                <span class="H-vertical-middle">
                    <label class="H-font-size-12 H-theme-font-color-white H-theme-background-color2 H-display-block H-padding-horizontal-both-5">热点</label>
                </span>
                <div class="H-font-size-16 H-font-weight-500 H-padding-vertical-both-10 H-margin-horizontal-left-10">朋友们都在玩的应用</div>
            </div>
        </div>
        <div class="apply-list">
            <div class="apply-list-item H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-both-10 H-touch-active H-theme-background-color-white">
                <div class="H-padding-horizontal-both-10 H-vertical-middle">
                    <img src="../../../image/logo.png" class="H-display-block H-width-50 H-height-50" alt="" title="" />
                </div>
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-font-size-16 H-font-weight-normal H-font-weight-500 H-display-block H-text-show-row-1 ">Hui</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                        <span class="H-margin-horizontal-both-2"><label class="scores">4.4</label>分</span>
                        <span class="H-margin-horizontal-both-2"><label class="downloads">7879</label>万人下载</span>
                        <span class="H-margin-horizontal-both-2"><label class="size">1.2</label>MB</span>
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                        <span class="H-display-block H-text-show-row-1"><label class="slogan H-margin-horizontal-both-2">H在手</label>天下我有</span>
                    </div>
                </div>
                <div class="H-margin-horizontal-right-10 H-vertical-top">
                    <button class="H-outline-none H-theme-background-color-transparent H-font-size-13 H-theme-font-color1 H-theme-border-color1 H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3 H-padding-horizontal-both-15 H-white-space-nowrap">下载</button>
                </div>
            </div>
            <div class="apply-list-item H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-both-10 H-touch-active H-theme-background-color-white">
                <div class="H-padding-horizontal-both-10 H-vertical-middle">
                    <img src="../../../image/logo.png" class="H-display-block H-width-50 H-height-50" alt="" title="" />
                </div>
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-font-size-16 H-font-weight-normal H-font-weight-500 H-display-block H-text-show-row-1 ">Hui</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                        <span class="H-margin-horizontal-both-2"><label class="scores">4.4</label>分</span>
                        <span class="H-margin-horizontal-both-2"><label class="downloads">7879</label>万人下载</span>
                        <span class="H-margin-horizontal-both-2"><label class="size">1.2</label>MB</span>
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                        <span class="H-display-block H-text-show-row-1"><label class="slogan H-margin-horizontal-both-2">H在手</label>天下我有</span>
                    </div>
                </div>
                <div class="H-margin-horizontal-right-10 H-vertical-top">
                    <button class="H-outline-none H-theme-background-color-transparent H-font-size-13 H-theme-font-color1 H-theme-border-color1 H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3 H-padding-horizontal-both-15 H-white-space-nowrap">下载</button>
                </div>
            </div>
            <div class="apply-list-item H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-both-10 H-touch-active H-theme-background-color-white">
                <div class="H-padding-horizontal-both-10 H-vertical-middle">
                    <img src="../../../image/logo.png" class="H-display-block H-width-50 H-height-50" alt="" title="" />
                </div>
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-font-size-16 H-font-weight-normal H-font-weight-500 H-display-block H-text-show-row-1 ">Hui</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                        <span class="H-margin-horizontal-both-2"><label class="scores">4.4</label>分</span>
                        <span class="H-margin-horizontal-both-2"><label class="downloads">7879</label>万人下载</span>
                        <span class="H-margin-horizontal-both-2"><label class="size">1.2</label>MB</span>
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden">
                        <span class="H-display-block H-text-show-row-1"><label class="slogan H-margin-horizontal-both-2">H在手</label>天下我有</span>
                    </div>
                </div>
                <div class="H-margin-horizontal-right-10 H-vertical-top">
                    <button class="H-outline-none H-theme-background-color-transparent H-font-size-13 H-theme-font-color1 H-theme-border-color1 H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3 H-padding-horizontal-both-15 H-white-space-nowrap">下载</button>
                </div>
            </div>
        </div>
        <div class="H-padding-vertical-bottom-5"></div>
        <div class="">
            <div class="H-flexbox-horizontal H-theme-background-color-white H-box-sizing-border-box H-padding-vertical-both-8 H-touch-active">
                <div class="H-vertical-middle H-padding-horizontal-both-8">
                    <img src="../../../image/logo.png" class="H-width-50 H-height-50 H-display-block" alt="" title="" />
                </div>
                <div class="H-flex-item H-text-show-row-1">
                    <strong class="H-display-block H-font-size-16 H-font-weight-500 H-text-show-row-1 ">wifi万能钥匙</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden ">
                        <span class="H-margin-horizontal-both-2"><label class="scores">4.5</label>分</span>
                        <span class="H-margin-horizontal-both-2"><label class="downloads">2932</label>万人下载</span>
                        <span class="H-margin-horizontal-both-2"><label class="size">23.5</label>MB</span>
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1 H-overflow-hidden H-flexbox-horizontal">
                        <span class="H-vertical-middle H-margin-horizontal-right-5">
                            <label class="H-display-block H-theme-font-color-999 H-border-both-after H-theme-border-color-ccc H-padding-horizontal-both-5">WiFi</label>
                        </span><span class="H-vertical-middle H-margin-horizontal-right-5">
                            <label class="H-display-block H-theme-font-color-999 H-border-both-after H-theme-border-color-ccc H-padding-horizontal-both-5">常用工具</label>
                        </span>
                    </div>
                </div>
                <div class="H-margin-horizontal-right-10 H-vertical-top">
                    <button class="H-outline-none H-theme-background-color-transparent H-font-size-13 H-theme-font-color1 H-theme-border-color1 H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3 H-padding-horizontal-both-15 H-white-space-nowrap">下载</button>
                </div>
            </div>
        </div>
        <div class="H-padding-vertical-bottom-5"></div>
        <div class="">
            <div class="content H-width-100-percent H-theme-background-color-white H-box-sizing-border-box H-padding-horizontal-both-10 H-touch-active">
                <div class="H-text-show-row-1 H-padding-vertical-both-10 H-font-weight-500">
                    51元红包天天领！
                </div>
                <div class="H-width-avg-1 H-overflow-hidden H-position-relative">
                    <img src="../../../image/banner.png" class="H-display-block H-width-100-percent" style="height:100px" />
                    <label class="H-display-block H-width-100-percent H-position-absolute H-text-align-center H-font-size-12 H-theme-font-color-white H-text-show-row-1" style="left:0;bottom:0;background:rgba(0,0,0,.2)">五一high购狂欢节</label>
                </div>
                <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-vertical-both-10">
                    <div class="H-vertical-middle">
                        <img src="../../../image/logo.png" class="H-display-block H-width-40 H-height-40" />
                    </div>
                    <div class="H-flex-item H-margin-horizontal-left-10 H-overflow-hidden H-line-height-normal H-text-show-row-1">
                        <strong class="H-font-weight-500 H-display-block H-text-show-row-1">组团游</strong>
                        <div class="H-text-show-row-1 H-overflow-hidden">
                            <span class="H-margin-horizontal-right-5 H-theme-font-color-999 H-font-size-12">四天四夜</span>
                            <span class="H-margin-horizontal-right-5 H-theme-font-color-999 H-font-size-12">三亚大Party</span>
                        </div>
                    </div>
                    <div class="H-vertical-top">
                        <button class="H-outline-none H-theme-background-color-transparent H-theme-border-color4 H-font-size-13 H-padding-horizontal-both-15 H-theme-font-color4 H-theme-background-color4-click H-theme-font-color4-click H-theme-border-color4-click H-border-radius-3 H-white-space-nowrap">下载</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="H-padding-vertical-bottom-5"></div>
        <div class="">
            <div class="content H-theme-background-color-white animated fadeInDownBig">
                <div class="H-border-vertical-bottom-margin-both-10-after H-flexbox-horizontal H-box-sizing-border-box H-padding-horizontal-both-10">
                    <div class="H-flex-item H-font-size-15 H-font-weight-500 H-theme-font-color4 H-padding-vertical-both-10">今日优惠最佳</div>
                    <span class=" H-font-size-13 H-vertical-middle H-theme-font-color-999">全部<i class="H-iconfont H-icon-arrow-right H-font-size-13 H-display-block H-padding-horizontal-left-5"></i></span>
                </div>
                <div class="dashed-line H-position-relative H-flexbox-horizontal H-box-sizing-border-box H-padding-10">
                    <div class="H-vertical-middle">
                        <img src="../../../image/logo.png" class="H-width-75 H-display-block" style="height:60px" />
                    </div>
                    <div class="H-flex-item H-box-sizing-border-box H-overflow-hidden">
                        <strong class="H-display-block H-font-size-13 H-font-weight-500 H-padding-horizontal-both-10 H-text-show-row-1">免费领30天VIP+15元电影券</strong>
                        <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-horizontal-left-10">
                            <div class="H-flex-item H-text-show-row-1">
                                <div class="H-flexbox-horizontal H-width-100-percent H-text-show-row-1">
                                    <span class="H-font-size-13 H-theme-font-color4 H-display-block ">抵30元</span>
                                    <span class="H-vertical-middle H-flex-item  H-margin-horizontal-both-5 H-text-show-row-1">
                                        <label class="H-font-size-10 H-theme-font-color4 H-border-both-after H-box-sizing-border-box H-padding-horizontal-both-3 H-display-block H-text-show-row-1 H-width-100-percent">30439人已领取优惠券kjkjkjklklklklklkljkhklkjljlkljsdkljsdklj</label>
                                    </span>
                                </div>
                                <div class="H-flexbox-horizontal H-width-100-percent H-text-show-row-1">
                                    <div class="H-vertical-middle">
                                        <img src="../../../image/logo.png" class="H-display-block" style="width: 15px;height:15px;" />
                                    </div>
                                    <span class="H-vertical-middle H-flex-item H-margin-horizontal-both-5 H-text-show-row-1">
                                        <label class="H-theme-font-color-999 H-font-size-12 H-display-block H-text-show-row-1 H-width-100-percent">TV189院线测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</label>
                                    </span>
                                </div>
                            </div>
                            <div class="H-vertical-middle">
                                <button class="H-outline-none H-box-sizing-border-box H-theme-background-color-transparent H-theme-border-color1 H-theme-font-color1 H-theme-border-color1-click H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3 H-font-size-13 H-white-space-nowrap">下载领取</button>
                            </div>
                        </div>
                    </div>
                    <div class="H-bugle-right  H-position-absolute H-z-index-10 H-theme-border-color-999" style="left: 0;bottom:-10px;  border-width:10px;  border-left:10px solid #EDF2F4;"></div>
                    <div class="H-bugle-left  H-position-absolute H-z-index-10 H-theme-border-color-999" style="right: 0;bottom:-10px;  border-width:10px;  border-right:10px solid #EDF2F4;"></div>
                </div>
                <!--********************************************-->
                <div class="H-position-relative H-flexbox-horizontal H-box-sizing-border-box H-padding-10">
                    <div class="H-vertical-middle">
                        <img src="../../../image/logo.png" class="H-width-75 H-display-block" style="height:60px" />
                    </div>
                    <div class="H-flex-item H-box-sizing-border-box H-overflow-hidden H-text-show-row-1">
                        <strong class="H-display-block H-font-size-13 H-font-weight-500 H-padding-horizontal-both-10 H-text-show-row-1">中山赢友网络科技有限公司官方提供技术支持</strong>
                        <div class="H-flexbox-horizontal H-box-sizing-border-box H-padding-horizontal-left-10">
                            <div class="H-flex-item H-text-show-row-1">
                                <div class="H-flexbox-horizontal H-width-100-percent H-text-show-row-1">
                                    <span class="H-font-size-13 H-theme-font-color4 H-display-block">抵30元</span>
                                    <span class="H-vertical-middle H-flex-item  H-margin-horizontal-both-5 H-text-show-row-1">
                                        <label class="H-font-size-10 H-theme-font-color4 H-border-both-after H-box-sizing-border-box H-padding-horizontal-both-3 H-display-block H-text-show-row-1 H-width-100-percent">30439人已领取优惠券kjkjkjklklklklklkljkhklkjljlkljsdkljsdklj</label>
                                    </span>
                                </div>
                                <div class="H-flexbox-horizontal H-width-100-percent H-text-show-row-1">
                                    <div class="H-vertical-middle">
                                        <img src="../../../image/logo.png" class="H-display-block" style="width: 15px;height:15px;" />
                                    </div>
                                    <span class="H-vertical-middle H-flex-item H-margin-horizontal-both-5 H-text-show-row-1">
                                        <label class="H-theme-font-color-999 H-font-size-12 H-display-block H-text-show-row-1 H-width-100-percent">TV189院线测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</label>
                                    </span>
                                </div>
                            </div>
                            <div class="H-vertical-middle">
                                <button class="H-outline-none H-theme-background-color-transparent H-theme-border-color1 H-theme-font-color1 H-theme-border-color1-click H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3 H-font-size-13 H-white-space-nowrap">下载领取</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-bottom-5"></div>
    <script type="text/javascript" src="../../../script/H.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>