<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body>
    <header class="H-header H-theme-background-color9" id="header">
        <div class="H-header-title H-flexbox-horizontal H-vertical-middle H-font-size-18 H-text-show-row-1 H-theme-font-color-white H-position-absolute H-width-100-percent">
            <span class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-white H-padding-horizontal-left-5 H-z-index-100"><img src="../../../image/xsd.png" alt="" title="" class="H-border-radius-circle H-display-block" style="height:30px;width:30px;"></span>
            <div class="H-header-search H-flex-item H-margin-horizontal-both-10 H-padding-horizontal-both-10 H-position-relative H-theme-background-color9-active H-border-radius-3 H-line-height-normal">
                <span class="H-icon H-display-block H-position-absolute H-float-left H-z-index-10 H-vertical-middle" style="height: 100% !important;"><i class="H-iconfont H-icon-search H-font-size-16"></i></span>
                <input type="text" name="keyword" placeholder="请输入关键字..." id="H-header-search-text" class="H-width-100-percent H-box-sizing-border-box H-border-none H-padding-horizontal-both-10 H-font-size-14 H-padding-vertical-both-8 H-theme-background-color-transparent H-theme-font-color-white H-padding-horizontal-left-25 H-vertical-middle" />
            </div>
            <span class="H-icon H-position-relative H-display-inline-block H-vertical-middle H-theme-font-color-white H-padding-horizontal-right-10 H-z-index-100"><i class="H-iconfont H-icon-scanning H-font-size-20 H-vertical-middle"></i></span>
        </div>
    </header>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        H.ready(function () {
            H.openFrameNavOrFoot("yingyongbao_index_body", "yingyongbao_index_body.html", "#header");
        });
    </script>
</body>
</html>