<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
        .H-theme-background-color10-active { background-color: #F9F6F7; }
    </style>
</head>
<body id="body">
    <div id="lis" class="">
        <div id="list1" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-10 H-margin-vertical-top-10 ">
            <div class="H-padding-10 H-theme-font-color-999 H-font-size-14 H-flexbox-vertical H-text--left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left">商家: <span class="H-theme-font-color2">悠闲时刻</span></span>
                <div class="H-flex-item H-clear-both H-margin-3"><span class="H-theme-background-color4 H-theme-font-color-white H-font-size-13 H-padding-3 H-border-radius-3">减</span> 满255.00元减5.00元,满350.00元减10.00元</div>
                <div class="H-flex-item H-clear-both H-margin-3"><span class="H-theme-background-color2 H-theme-font-color-white H-font-size-13 H-padding-3 H-border-radius-3">券</span> 满255.00元减5.00元,满350.00元减10.00元</div>
            </div>
            <div class="H-flexbox-horizontal  H-theme-background-color10-active">
                <div class="H-center-all H-padding-horizontal-left-5"><input type="checkbox" checked="checked" class="H-checkbox H-checkbox-fill H-vertical-align-middle H-font-size-18 H-theme-font-color2 H-border-radius-circle"></div>
                <div class="H-padding-vertical-both-10">
                    <img src="../../../image/templates-imgs/tb2.jpg" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10" style="width: 75px; height:75px;" />
                </div>
                <div class="H-flex-item H-padding-10">
                    <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-1">蕾丝镂空无袖连衣裙蕾丝镂空无袖连衣裙</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1">
                        颜色:薄荷绿 尺寸:S
                        <span class="H-float-right H-theme-font-color2 H-font-size-14" style="">￥700.00</span><span class="H-float-right" style="text-decoration:line-through;">￥888.00</span>
                    </div>
                    <div class="H-display-inline-block H-float-left H-vertical-middle H-theme-border-color-eee H-overflow-hidden">
                        <span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;">
                            <i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i>
                        </span>
                        <input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;">
                        <span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;">
                            <i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i>
                        </span>
                    </div>
                    <span class="H-float-right H-display-block H-center-all"><i class="H-iconfont H-icon-rubbish H-theme-font-color-999"></i></span>
                </div>
            </div>
            <div class="H-padding-15 H-text-align-ledft H-theme-font-color3 H-font-size-14">
                共1件商品 <span class="H-float-right H-theme-font-color3">本店合计: <span class="H-theme-font-color2">￥98.00</span></span>
            </div>
        </div>
        <div id="list2" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-10 ">
            <div class="H-padding-10 H-theme-font-color-999 H-font-size-14 H-flexbox-vertical H-text--left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left">商家: <span class="H-theme-font-color2">悠闲时刻</span></span>
                <div class="H-flex-item H-clear-both H-margin-3"><span class="H-theme-background-color4 H-theme-font-color-white H-font-size-13 H-padding-3 H-border-radius-3">减</span> 满255.00元减5.00元,满350.00元减10.00元</div>
                <div class="H-flex-item H-clear-both H-margin-3"><span class="H-theme-background-color2 H-theme-font-color-white H-font-size-13 H-padding-3 H-border-radius-3">券</span> 满255.00元减5.00元,满350.00元减10.00元</div>
            </div>
            <div class="H-flexbox-horizontal  H-theme-background-color10-active">
                <div class="H-center-all H-padding-horizontal-left-5"><input type="checkbox" checked="checked" class="H-checkbox H-checkbox-fill H-vertical-align-middle H-font-size-18 H-theme-font-color2 H-border-radius-circle"></div>
                <div class="H-padding-vertical-both-10">
                    <img src="../../../image/templates-imgs/tb2.jpg" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10" style="width: 75px; height:75px;" />
                </div>
                <div class="H-flex-item H-padding-10">
                    <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-1">蕾丝镂空无袖连衣裙蕾丝镂空无袖连衣裙</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1">
                        颜色:薄荷绿 尺寸:S
                        <span class="H-float-right H-theme-font-color2 H-font-size-14" style="">￥700.00</span><span class="H-float-right" style="text-decoration:line-through;">￥888.00</span>
                    </div>
                    <div class="H-display-inline-block H-float-left H-vertical-middle H-theme-border-color-eee H-overflow-hidden">
                        <span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;">
                            <i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i>
                        </span>
                        <input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;">
                        <span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;">
                            <i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i>
                        </span>
                    </div>
                    <span class="H-float-right H-display-block H-center-all"><i class="H-iconfont H-icon-rubbish H-theme-font-color-999"></i></span>
                </div>
            </div>
            <div class="H-padding-15 H-text-align-ledft H-theme-font-color3 H-font-size-14">
                共1件商品 <span class="H-float-right H-theme-font-color3">本店合计: <span class="H-theme-font-color2">￥98.00</span></span>
            </div>
        </div>
        <div id="list3" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-10 ">
            <div class="H-padding-10 H-theme-font-color-999 H-font-size-14 H-flexbox-vertical H-text--left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left">商家: <span class="H-theme-font-color2">悠闲时刻</span></span>
                <div class="H-flex-item H-clear-both H-margin-3"><span class="H-theme-background-color4 H-theme-font-color-white H-font-size-13 H-padding-3 H-border-radius-3">减</span> 满255.00元减5.00元,满350.00元减10.00元</div>
                <div class="H-flex-item H-clear-both H-margin-3"><span class="H-theme-background-color2 H-theme-font-color-white H-font-size-13 H-padding-3 H-border-radius-3">券</span> 满255.00元减5.00元,满350.00元减10.00元</div>
            </div>
            <div class="H-flexbox-horizontal  H-theme-background-color10-active">
                <div class="H-center-all H-padding-horizontal-left-5"><input type="checkbox" checked="checked" class="H-checkbox H-checkbox-fill H-vertical-align-middle H-font-size-18 H-theme-font-color2 H-border-radius-circle"></div>
                <div class="H-padding-vertical-both-10">
                    <img src="../../../image/templates-imgs/tb2.jpg" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10" style="width: 75px; height:75px;" />
                </div>
                <div class="H-flex-item H-padding-10">
                    <strong class="H-font-weight-normal font-weight-500 H-font-size-14 H-display-block H-text-show-row-1">蕾丝镂空无袖连衣裙蕾丝镂空无袖连衣裙</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1">
                        颜色:薄荷绿 尺寸:S
                        <span class="H-float-right H-theme-font-color2 H-font-size-14" style="">￥700.00</span><span class="H-float-right" style="text-decoration:line-through;">￥888.00</span>
                    </div>
                    <div class="H-display-inline-block H-float-left H-vertical-middle H-theme-border-color-eee H-overflow-hidden">
                        <span class="H-display-inline-block H-padding-horizontal-both-8 H-center-all H-theme-background-color-eee" style="height: 26px;">
                            <i class="H-iconfont H-icon-minus H-font-size-14 H-theme-font-color-666"></i>
                        </span>
                        <input type="text" value="1" class="H-theme-background-color-transparent H-font-size-16 H-text-align-center H-border-none H-box-sizing-border-box" style="width:35px;">
                        <span class="H-display-inline-block H-font-size-16 H-padding-horizontal-both-8 H-center-all" style="border-left:1px solid #eee;height: 26px;">
                            <i class="H-iconfont H-icon-plus H-font-size-14 H-theme-font-color-666"></i>
                        </span>
                    </div>
                    <span class="H-float-right H-display-block H-center-all"><i class="H-iconfont H-icon-rubbish H-theme-font-color-999"></i></span>
                </div>
            </div>
            <div class="H-padding-15 H-text-align-ledft H-theme-font-color3 H-font-size-14">
                共1件商品 <span class="H-float-right H-theme-font-color3">本店合计: <span class="H-theme-font-color2">￥98.00</span></span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../script/H.js"></script>
</body>
</html>