<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css"></style>
</head>
<body class="H-flexbox-vertical">
    <header class="H-header H-theme-background-color-white H-border-vertical-bottom-after" id="header">
        <span tapmode="" onclick="H.closeWin();" class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-333 H-padding-horizontal-left-5 H-z-index-100"><i class="H-iconfont H-icon-arrow-left H-font-size-18 H-vertical-middle"></i><label class="H-display-block H-vertical-middle H-font-size-15">返回</label></span>
        <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-333 H-position-absolute H-width-100-percent">购物车</div>
        <span tapmode="" class="H-icon H-position-relative H-display-inline-block H-float-right H-vertical-middle H-theme-font-color-333 H-padding-horizontal-right-5 H-z-index-100"><label class="H-display-block H-vertical-middle H-font-size-15">编辑</label></span>
    </header>
    <div class="H-main H-flex-item"></div>
    <footer class="H-footer H-flexbox-horizontal H-theme-background-color-white H-border-vertical-top-after" id="footer">
        <div class="H-flex-item H-center-all H-text-align-center H-theme-font-color-999">
            <div class="H-center-all H-padding-10">
                <input type="checkbox" checked="checked" class="H-checkbox H-checkbox-fill H-vertical-align-middle H-font-size-18 H-theme-font-color2 H-border-radius-circle"> 全选
            </div>
        </div>
        <div class="H-flex-item H-center-all H-text-align-right H-theme-font-color-999">
            <div>
                <span class="H-icon H-display-block H-line-height-normal H-theme-font-color2 H-font-size-13">合计:￥2944.00</span>
                <strong class="H-font-size-12 H-display-block H-font-weight-normal H-margin-vertical-top-3">节省:￥744.00</strong>
            </div>
        </div>
        <div class="H-flex-item">
            <button class="H-button H-font-size-16 H-outline-none H-width-avg-1 H-padding-vertical-both-8 H-padding-horizontal-both-20 H-theme-background-color7 H-theme-font-color-white H-theme-border-color7 H-theme-border-color7-click H-theme-background-color7-click H-theme-font-color7-click H-footer">去结算(5)</button>
        </div>
    </footer>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
        H.ready(function () {
            H.openFrameNavOrFoot("carShop_body", "carShop_body.html", "#header", null, "#footer");
        });
    </script>
</body>
</html>