<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../../../css/Hui.css" />
    <style type="text/css">
    </style>
</head>
<body id="body">
    <div id="lis" class="H-padding-8">
        <div id="list1" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5 H-border-vertical-both-after H-border-horizontal-both-after">
            <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
                <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color7-active"> 已支付  </span>
            </div>
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-10">
                    <img src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10" style="width: 60px; height: 60px;" />
                </div>
                <div class="H-flex-item H-padding-10">
                    <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-1">商品名称商品名称商品名称</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1">
                        收货人:新生帝  电话:18676265646
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-2">
                        中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-padding-10 H-text-align-right H-border-vertical-bottom-after H-theme-font-color-999 H-font-size-14">
                数量：3 &nbsp;订单金额：<span style="text-decoration:line-through">￥118.00</span>&nbsp;实付：<span class="H-theme-font-color2">￥98.00</span>
            </div>
        </div>
        <div id="list1" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5 H-border-vertical-both-after H-border-horizontal-both-after">
            <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
                <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color7-active"><span class="H-badge H-display-inline-block"> <label class="H-display-inline-block H-vertical-middle H-theme-background-color-999 H-theme-font-color-white H-font-size-12" id="price">取消订单</label> </span> <span class="H-badge H-display-inline-block"> <label class="H-display-inline-block H-vertical-middle H-theme-background-color2 H-theme-font-color-white H-font-size-12" id="oldtype">立即支付</label> </span> </span>
            </div>
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-10">
                    <img src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10" style="width: 60px; height: 60px;" />
                </div>
                <div class="H-flex-item H-padding-10">
                    <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-1">商品名称商品名称商品名称</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1">
                        收货人:新生帝  电话:18676265646
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-2">
                        中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-padding-10 H-text-align-right H-border-vertical-bottom-after H-theme-font-color-999 H-font-size-14">
                数量：3 &nbsp;订单金额：<span style="text-decoration:line-through">￥118.00</span>&nbsp;实付：<span class="H-theme-font-color2">￥98.00</span>
            </div>
        </div>
        <div id="list1" class="H-border-radius3-px H-theme-background-color-white H-margin-vertical-bottom-5 H-border-vertical-both-after H-border-horizontal-both-after">
            <div class="H-padding-10 H-border-vertical-bottom-after H-flexbox-horizontal H-theme-font-color-999 H-font-size-14 H-flexbox-horizontal H-text-horizontal-left H-box-sizing-border-box">
                <span class="H-display-block H-flex-item H-text-align-left">2016-1-1 23:22:22</span>
                <span class="H-display-block H-flex-item H-text-align-right H-theme-font-color7-active"><span class="H-badge H-display-inline-block"> <label class="H-display-inline-block H-vertical-middle H-theme-background-color-999 H-theme-font-color-white H-font-size-12" id="price">取消订单</label> </span> <span class="H-badge H-display-inline-block"> <label class="H-display-inline-block H-vertical-middle H-theme-background-color2 H-theme-font-color-white H-font-size-12" id="oldtype">立即支付</label> </span> </span>
            </div>
            <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
                <div class="H-padding-vertical-both-10">
                    <img src="../../../image/logo.png" srcs="" alt="" title="" class="imgCache H-display-block H-margin-horizontal-left-10" style="width: 60px; height: 60px;" />
                </div>
                <div class="H-flex-item H-padding-10">
                    <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-1">商品名称商品名称商品名称</strong>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-1">
                        收货人:新生帝  电话:18676265646
                    </div>
                    <div class="H-font-size-12 H-theme-font-color-999 H-text-show-row-2">
                        中山市中山二路48好怡中大厦5楼515
                    </div>
                </div>
            </div>
            <div class="H-padding-10 H-text-align-right H-border-vertical-bottom-after H-theme-font-color-999 H-font-size-14">
                数量：3 &nbsp;订单金额：<span style="text-decoration:line-through">￥118.00</span>&nbsp;实付：<span class="H-theme-font-color2">￥98.00</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../script/H.js"></script>
</body>
</html>