<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="H-theme-background-color-white">
        <div class="head-pic H-text-align-center H-padding-vertical-both-15">
            <div><img src="../../../image/logo.png" class="H-border-radius-15" style="width:50px;height:50px;" /></div>
            <div class="">Hui官方账号<span class="H-icon H-display-inline-block H-padding-horizontal-both-5"><i class="H-iconfont H-icon-v3 H-vertical-middle H-font-size-14 H-theme-font-color9"></i></span></div>
        </div>
        <div class="H-flexbox-horizontal H-text-align-center H-padding-horizontal-both-5 H-line-height-normal H-theme-font-color-black H-padding-vertical-both-15 H-box-sizing-border-box H-border-vertical-bottom-after">
            <div class="H-flex-item">
                <span class="H-icon H-center-all">0</span>
                <label class="H-display-block H-font-size-13 H-margin-vertical-top-5 H-theme-font-color-999">关注的人</label>
            </div>
            <div class="H-flex-item">
                <span class="H-icon H-center-all">99</span>
                <label class="H-display-block H-font-size-13 H-margin-vertical-top-5 H-theme-font-color-999">我的粉丝</label>
            </div>
            <div class="H-flex-item">
                <span class="H-icon H-center-all">20</span>
                <label class="H-display-block H-font-size-13 H-margin-vertical-top-5 H-theme-font-color-999">关注的组件</label>
            </div>
            <div class="H-flex-item">
                <span class="H-icon H-center-all">3</span>
                <label class="H-display-block H-font-size-13 H-margin-vertical-top-5 H-theme-font-color-999">关注的模板</label>
            </div>
        </div>
    </div>
    <div class="H-flexbox-horizontal H-theme-background-color-white H-padding-horizontal-both-5 H-line-height-normal H-text-align-center H-theme-font-color-black H-padding-vertical-bottom-15 H-padding-vertical-top-20 H-box-sizing-border-box">
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-display-block H-border-radius-circle H-height-45 H-width-45 H-theme-background-color1 H-margin-horizontal-auto">
                <i class="H-iconfont H-theme-font-color-white H-icon-shopping-cart H-font-size-20"></i>
            </span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-10 H-theme-font-color-999">已购买</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-display-block H-border-radius-circle H-height-45 H-width-45 H-theme-background-color2 H-margin-horizontal-auto">
                <i class="H-iconfont H-theme-font-color-white H-icon-log H-font-size-20"></i>
            </span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-10 H-theme-font-color-999">订单</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-display-block H-border-radius-circle H-height-45 H-width-45 H-theme-background-color2 H-margin-horizontal-auto">
                <i class="H-iconfont H-theme-font-color-white H-icon-logo H-font-size-20"></i>
            </span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-10 H-theme-font-color-999">优惠券</label>
        </div>
        <div class="H-flex-item">
            <span class="H-icon H-center-all H-display-block H-border-radius-circle H-height-45 H-width-45 H-theme-background-color2 H-margin-horizontal-auto">
                <i class="H-iconfont H-theme-font-color-white H-icon-like H-font-size-20"></i>
            </span>
            <label class="H-display-block H-font-size-13 H-margin-vertical-top-10 H-theme-font-color-999">心愿单</label>
        </div>
    </div>

    <div class="H-padding-vertical-top-5"></div>
    <div class="H-theme-background-color-white">
        <div class="H-padding-vertical-both-8 H-padding-horizontal-left-15">
            <strong class="H-font-size-18 H-font-weight-normal H-font-weight-500">我的笔记 ·</strong><font>4</font>
        </div>
    </div>
    <div class="H-padding-vertical-top-5"></div>
    <div class="news-list">
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-10"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block">一切从简，只为了更懒！</strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-10"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block">一切从简，只为了更懒！</strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            </div>
        </div>
        <div class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after">
            <div class="H-padding-vertical-both-10"><img src="../../../image/logo.png" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
            <div class="H-flex-item H-padding-10">
                <strong class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block">一切从简，只为了更懒！</strong>
                <div class="H-font-size-14 H-theme-font-color-999 H-text-show-row-2 H-margin-vertical-top-2">一切从简，只为了更懒！Hui是新生帝个人开发，版权所有为中山赢友网络科技有限公司，Hui基于最新的HTML5，CSS3，ECMAScript开发，并且是一款非常棒的开源项目。也希望更多开发者能够参与进来，一起完善她，成就她！</div>
            </div>
        </div>
    </div>
    <div class="H-padding-vertical-top-5"></div>
    <script src="../../../script/H.js" type="text/javascript">
    </script>
</body>
</html>