<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hui</title>
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div>
        <div tapmode="" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-both-after H-margin-vertical-top-10 H-vertical-middle H-touch-active">
            <div class="H-padding-horizontal-left-10 H-padding-vertical-both-5"><img src="../../../image/logo.png" class="H-height-50 H-vertical-align-middle H-width-50 H-border-radius-circle" /></div>
            <div class="H-flex-item H-padding-horizontal-both-8">Hui</div>
            <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
        </div>
        <div class="H-margin-vertical-top-10 H-theme-background-color-white H-border-vertical-both-after">
            <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">设定目标</div>
                <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
            </div>
            <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">学习提醒</div>
                <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
            </div>
            <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">推送设置</div>
                <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
            </div>
        </div>
        <div class="H-theme-background-color-white H-margin-vertical-top-10 H-border-vertical-both-after">
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-touch-active H-border-vertical-bottom-margin-left-10-after">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">清除缓存</div>
                <span class="H-padding-horizontal-right-10 H-display-block H-theme-font-color-666">54KB</span>
            </div>
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-touch-active H-border-vertical-bottom-margin-left-10-after">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">
                    <span class="H-display-block H-line-height-normal">允许非WiFi网络播放/缓存视频</span>
                    <font class="H-theme-font-color-999 H-font-size-14">请慎重选择开启 避免过度使用流量</font>
                </div>
                <input type="checkbox" class="H-switch H-display-block H-position-relative H-theme-background-color-white H-theme-font-color9 H-margin-horizontal-right-10" />
            </div>
            <div class="H-text-list H-flexbox-horizontal H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">视频自动播放</div>
                <input type="checkbox" checked="checked" class="H-switch H-display-block H-position-relative H-theme-background-color-white H-theme-font-color9 H-margin-horizontal-right-10" />
            </div>
        </div>
        <div class="H-margin-vertical-top-10 H-theme-background-color-white H-border-vertical-both-after">
            <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">给我评分</div>
                <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
            </div>
            <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">意见反馈</div>
                <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
            </div>
            <div class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-vertical-middle H-touch-active">
                <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">关于慕课网</div>
                <span class="H-icon H-padding-horizontal-right-10 H-display-block"><i class="H-iconfont H-icon-arrow-right H-theme-font-color-999 H-font-size-14 H-vertical-middle"></i></span>
            </div>
        </div>
        <div class="H-text-align-center H-margin-vertical-top-15 H-position-relative">
            <span class="H-theme-font-color-red H-font-size-22 H-margin-vertical-bottom-15 H-display-block H-theme-background-color-white H-position-absolute H-padding-vertical-both-10" style="left:10px;right:10px;">退出登陆</span>
        </div>
    </div>
    <script src="../../../script/H.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
</body>
</html>